body {
	background: #F3F6FC;
	margin: 0;
	padding: 0;
	color: #262B2F;
}

.app {
	max-width: 414px;
	margin: 0 auto;
	min-height: 100vh;
	background: #fff;
	width: 100%;
}

.content{
	background-color: #fff;
	/*padding: 0 15rem;*/
	padding-bottom: 20rem;
}
.title1{
	font-size: 18rem;
	color: #01C6F3;
	line-height: 18rem;
	padding-top: 20rem;
	width: 100%;
	text-align: center;
}
.title2{
	font-size: 18rem;
	line-height: 32rem;
	margin-top: 17rem;
	width: 100%;
	text-align: center;
}
.title3{
	font-size: 15rem;
	line-height: 32rem;
	margin-top: 0;
	width:100%;
	text-align: center;
}
.img{
	display: block;
	width: 200rem;
	height: 200rem;
	margin: 16rem auto;
}
.title4{
	font-size: 18rem;
	line-height: 32rem;
	margin-top: 30rem;
	width: 100%;
	text-align: center;
}
.title5{
	font-size: 18rem;
	line-height: 32rem;
	margin-top: 0rem;
	width: 100%;
	text-align: center;
}
.img2{
	width: 95%;
	display: block;
	margin: 17rem auto 0;
}
.title6{
	font-size: 18rem;
	color: #01C6F3;
	line-height: 18rem;
	padding-top: 33rem;
	width: 100%;
	text-align: center;
}
.title7{
	width: 90%;
	margin: 17rem auto 0;
	font-size: 15rem;
	line-height: 30rem;
}
.title8{
	width: 90%;
	margin: 0 auto;
	font-size: 15rem;
	line-height: 30rem;
}
.title8 span{
	color: #E11618;
}
