<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>绑定银行卡</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/bindCard.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />
	</head>

	<body>
		<div class="app">
			<div class="navigationBar">
				<img class="back" src="../img/left.png" />
				<div class="title center">绑定银行卡</div>
				<div class="addcard">+添加银行卡</div>
			</div>
			<div class="content">
				<div class="item">
					<div>收款卡号</div>
					<div>8888 8888 8888 8888</div>
					<div class="key"><span>收款姓名：</span><span>张三</span></div>
					<div class="key">
						<span>银行类型：</span>
						<span>张三</span>
					</div>
					<div class="key">
						<span>营业网点：</span>
						<span>张三</span>
					</div>
					<div class="btn">删除</div>
				</div>
				<div class="item">
					<div>收款卡号</div>
					<div>8888 8888 8888 8888</div>
					<div class="key"><span>收款姓名：</span><span>张三</span></div>
					<div class="key">
						<span>银行类型：</span>
						<span>张三</span>
					</div>
					<div class="key">
						<span>营业网点：</span>
						<span>张三</span>
					</div>
					<div class="btn">删除</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			//			输入完成并判断完成修改按钮颜色
			setTimeout(() => {
				$('.btn').css('backgroundColor', '#FF6600')
			}, 2000)
			function change(){
				console.log(event.target.dataset.id)
				if(event.target.dataset.id == 0){
					event.target.src = '../img/kai.png'
					event.target.dataset.id = 1
				}else{
					event.target.src = '../img/guan.png'
					event.target.dataset.id = 0
				}
			}
		</script>
	</body>

</html>