<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>会员中心</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/vipCenter.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />

	</head>

	<body>
		<div class="app">
			<div class="bg">
				<div class="navigationBar">
					<img class="back" src="../img/back_w.png" />
					<div class="title left">会员中心</div>
				</div>
				<div class="search">
					<div class="item">
						<div class="title">选择层级</div>
						<select name="">
							<option value="">1</option>
							<option value="">2</option>
						</select>
					</div>
					<div class="item">
						<div class="title">搜索会员账号</div>
						<div class="order_input" style="display: flex;">
							<div style="">输入会员账号</div>
							<input type="" name="" id="" value="" placeholder="" />
						</div>
					</div>
					<div class="btn_bg btn_search">确认</div>
				</div>
			</div>
			<div class="content_list TDorder">
				<div class="row">
					<div class="item1">会员头像</div>
					<div class="item2">会员账号</div>
					<div class="item3">总币量</div>
					<div class="item4">今日订单总量</div>
					<div class="item5">详情</div>
				</div>
				<div class="row2">
					<div class="item1"><img src="../img/bg.png" /></div>
					<div class="item2">9244.00</div>
					<div class="item3">0.2300</div>
					<div class="item4">+2342.00</div>
					<div class="item5">
						<div>操作</div>
					</div>
				</div>
				<div class="row2">
					<div class="item1"><img src="../img/bg.png" /></div>
					<div class="item2">9244.00</div>
					<div class="item3">0.2300</div>
					<div class="item4">+2342.00</div>
					<div class="item5">
						<div>操作</div>
					</div>
				</div>
				<div class="row2">
					<div class="item1"><img src="../img/bg.png" /></div>
					<div class="item2">9244.00</div>
					<div class="item3">0.2300</div>
					<div class="item4">+2342.00</div>
					<div class="item5">
						<div>操作</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>