.head{
	display: flex;
	justify-content: center;
}
.head .msg{
	/*border-radius:  .08rem;*/
	/*padding: .20rem .13rem;*/
	/*box-shadow: 0  .02rem  .06rem  .02rem rgba(0, 0, 0, 0.08);*/
}
.head .msg .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: .36rem;
}
.head .msg .row >div{
	display: flex;
	align-items: center;
	border-bottom:  .01rem solid #E2E2E2;
	font-size: .15rem;
	width: 1.15rem;
}
.head .msg .row >div input{
	width: 100%;
	line-height: .28rem;
}
.head .msg .row img{
	width: .25rem;
	height: .25rem;
	flex-shrink: 0;
	margin: 0 .30rem;
}
.head .msg .row2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*height: .36rem;*/
	margin-top:  .05rem;
}
.head .msg .row2 >div{
	display: flex;
	align-items: center;
	font-size: .13rem;
	color: #7E7E7E;
	line-height: .15rem;
	width: 100%;
}
.head .msg .row2 img{
	width: .25rem;
	height:  .02rem;
	flex-shrink: 0;
	margin: 0 .30rem;
	opacity: 0;
}
.head .msg .row3{
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-top: .19rem;*/
}
.head .msg .row3 >div{
	/*width: 1.44rem;*/
	width: 50%;
	height: .40rem;
	text-align: center;
	line-height: .40rem;
}
.head .bg{
	margin: .20rem 0;
	width: 1.50rem;
	height: 1.50rem;
	background-image: url(../img/time.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head .bg .des{
	font-size: .17rem;
}
.head .bg .time{
	font-size: .30rem;
	text-align: center;
}
.head .bg .time div:nth-of-type(2){
	font-size: .17rem;
	color: #7E7E7E;
}
.msg{
	width: 100%;
	font-size: .15rem;
	line-height: .21rem;
	/*margin-top: .20rem;*/
	text-align: center;
}
.btn,.stop{
	width: 3.35rem;
	height: .40rem;
	font-size: .15rem;
	background-color: #FC660C;
	text-align: center;
	line-height: .40rem;
	color: #fff;
	border-radius:  .08rem;
	margin: .10rem auto .20rem;
}
.content{
	width: 100%;
	padding: 0 .15rem;
}
.content .row{
	/*padding: 0 .15rem;*/
	border-radius:  .08rem;
	height: .74rem;
	display: flex;
	width: 100%;
	align-items: center;
	box-shadow: 0  .02rem  .06rem 0 rgba(0, 0, 0, 0.15);
}
.content .row:nth-of-type(2){
	margin-top:  .05rem;
}
.content .row .item{
	/*flex: 1;*/
	width: 33.33%;
	padding-left: .10rem;
}
.content .row span{
	width:  .01rem;
	height: .18rem;
	background-color: #CCCCCC;
}
.content .row .item div:nth-of-type(1){
	font-size: .17rem;
	line-height: .20rem;
	color: #FC660C;
}
.content .row .item div:nth-of-type(2){
	font-size: .12rem;
	line-height: .14rem;
	color: #7E7E7E;
	margin-top:  .05rem;
}
.tip{
	margin: .22rem 0;
	padding: 0 .20rem;
}
.tip .title{
	display: flex;
	align-items: center;
	margin-bottom: .15rem;
}
.tip .title img{
	display: block;
	width: .20rem;
	height: .20rem;
	margin-right:  .09rem;
}
.tip .title div{
	color: #FC0C0C;
	font-size: .17rem;
	line-height: .20rem;
}
.tip .item{
	font-size: .13rem;
	color: #7E7E7E;
	line-height: .20rem;
}
.card_item{
	display: none;
}
.card_item .row{
	height: .48rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card_item .row .right{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom:  .01rem solid #E2E2E2;
}
.card_item .row .right img{
	width: .16rem;
	height: .10rem;
	display: none;
	border: none;
}
.card_item .row .right div{
	font-size: .15rem;
	line-height: .48rem;
}
.card_item .row >img{
	flex-shrink: 0;
	width: .17rem;
	height: .17rem;
	margin-right:  .08rem;
}
.hide{
	display:none;
}