.pagination {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #686868;
  justify-content: center;
}

.pagination a {
  color: #686868;
  text-decoration: none;
  margin: 0 25px;
}
