.header {
	display: flex;
	align-items: center;justify-content: center;
	
}
.header .title{
	display: flex;
	align-items: center;justify-content: center;
	position: relative;
}
.page-title {
	display: flex;
	align-items: center;justify-content: center;
	
}
.page-title .title{
	display: flex;
	align-items: center;justify-content: center;
	position: relative;
}
.btn_home{
	background-color: #01C6F3;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	width: 40px;
	margin-right: 8px;
	border-radius: 5px;
	position: absolute;
	left: -48px;
}