<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>币钱包</title>
		<link rel="stylesheet" href="../css/coin.css" />
	</head>

	<body>
		<div class="app">
			<div class="header">
				<img src="../img/back.png" alt="" />
				<div class="title">币钱包</div>
			</div>
			<div class="content">
				<div class="item">
					<div>转账</div>
					<img src="../img/right.png" />
				</div>
				<div class="item">
					<div>我要提现</div>
					<img src="../img/right.png" />
				</div>
				<div class="item">
					<div>绑定银行卡</div>
					<img src="../img/right.png" />
				</div>
				<div class="item">
					<div>充值</div>
					<img src="../img/right.png" />
				</div>
				<div class="item">
					<div>资金记录</div>
					<img src="../img/right.png" />
				</div>
			</div>
		</div>
	</body>

</html>