<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>登录</title>
		<link rel="stylesheet" href="../css/login.css" />
	</head>
	<body>
		<div class="app">
			<div class="content">
				<img src="../img/logo.png" width="110" height="110" />
				<section class="login-container">
					<div class="select-row">盾山码商管理中心</div>
					<div class="input-row">
						<img class="icon" src="../img/phone.png" />
						<input id="mobile" type="text" placeholder="输入手机号" />
					</div>
					<div class="input-row">
						<img class="icon" src="../img/password.png" />
						<input id="password" type="password" placeholder="输入密码" />
					</div>
					<div class="input-row">
						<img class="icon" src="../img/password.png" />
						<input id="password" type="password" placeholder="输入谷歌验证码" />
					</div>
					<div class="input-row">
						<img class="icon" src="../img/safe.png"/>
						<input id="code" type="text" placeholder="图形验证码" />
						<div class="code-button">4532</div>
					</div>
					<button class="btn" onclick="login()">登录</button>
				</section>
			</div>
		</div>
	</body>
</html>