<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>个人中心</title>
		<link rel="stylesheet" href="../css/me.css" />
	</head>
	<body>
		<div class="app">
			<div class="header">
				<div class="title">
					个人中心
				</div>
				<div class="user">
					<img class="avatar" src="../img/me_bg.png"/>
					<div class="usermsg">
						<div class="name">LBXX</div>
						<div class="msg">账号:234234234234</div>
						<div class="msg">联系手机号:23423434234</div>
						<div class="msg">邀请码:234234234234</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="title">
					<img src="../img/me_user.png"/>
					<div>账户信息</div>
				</div>
				<div class="user_data_row">
					<div class="item">
						<div class="value">44444444.44</div>
						<div class="name">
							<img src="../img/me1.png"/>
							<div>冻结中的币</div>
						</div>
					</div>
					<div class="item">
						<div class="value">44444444.44</div>
						<div class="name">
							<img src="../img/me2.png"/>
							<div>交易中的币</div>
						</div>
					</div>
					<div class="item">
						<div class="value">44444444.44</div>
						<div class="name">
							<img src="../img/me3.png"/>
							<div>可用余额</div>
						</div>
					</div>
				</div>
				<div class="user_data_row">
					<div class="item">
						<div class="value">44.44</div>
						<div class="name">
							<img src="../img/me4.png"/>
							<div>押金</div>
						</div>
					</div>
					<div class="item">
						<div class="value">44444444.44</div>
						<div class="name">
							<img src="../img/me5.png"/>
							<div>总币量</div>
						</div>
					</div>
					<div class="item_null">
					</div>
				</div>
				<div class="title">
					<img src="../img/me_user.png"/>
					<div>利润和订单</div>
				</div>
				<div class="user_data_row">
					<div class="item">
						<div class="value">44.44</div>
						<div class="name">
							<img src="../img/me6.png"/>
							<div>今日总利润</div>
						</div>
					</div>
					<div class="item">
						<div class="value">44.44</div>
						<div class="name">
							<img src="../img/me7.png"/>
							<div>今日订单总量</div>
						</div>
					</div>
					<div class="item">
						<div class="value">1.44</div>
						<div class="name">
							<img src="../img/me8.png"/>
							<div>成功订单总量</div>
						</div>
					</div>
				</div>
				<div class="user_data_row">
					<div class="item">
						<div class="value">444.44</div>
						<div class="name">
							<img src="../img/me9.png"/>
							<div>今日成功率</div>
						</div>
					</div>
					<div class="item">
						<div class="value">4.44</div>
						<div class="name">
							<img src="../img/me10.png"/>
							<div>今日总分成</div>
						</div>
					</div>
					<div class="item_null">
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="item">
					<div>会员中心</div>
					<img src="../img/right.png"/>
				</div>
				<div class="item">
					<div>OTC订单列表</div>
					<img src="../img/right.png"/>
				</div>
				<div class="item">
					<div>币钱包</div>
					<img src="../img/right.png"/>
				</div>
				<div class="item">
					<div>修改登录密码</div>
					<img src="../img/right.png"/>
				</div>
				<div class="item">
					<div>申请谷歌变更</div>
					<img src="../img/right.png"/>
				</div>
			</div>
			<button class="out_btn">退出登录</button>
		</div>
	</body>
</html>