<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
		<!--<meta name="viewport" content="width=375, maximum-scale=1.0, user-scalable=no" />-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>上传凭证</title>
		<link rel="stylesheet" href="../css/uploadProof.css" />
		<script src="../js/jquery-3.4.1.min.js"></script>
	</head>

	<body>
		<div class="order-detail-page">
			<header>
				<div class="page-title">
					<div class="back-button" onclick="history.back();">
						<img src="../img/back.png" />
					</div>
					<span>上传凭证</span>
				</div>
			</header>
			<div class="order-detail">
				<div class="order-detail-header">
					<div><span>交易类型：<span>订单充值</span></span></div>
					<div>已接单</div>
				</div>
				<div class="order-detail-content">
					<div class="info">
						<span><img class="od2"  src="../img/vip7.png" width="11" />订单号</span>
						<span>202001234737382918</span>
					</div>
					<div class="info">
						<span><img class="od2"  src="../img/vip5.png" width="11" />支付方式</span>
						<span>c2c在线交易充值</span>
					</div>
					<div class="info">
						<span><img class="od2"  src="../img/me13.png" width="11" />充值金额</span>
						<span>239289元</span>
					</div>
					<div class="info">
						<span><img class="od2"  src="../img/vip8.png" width="11" />收款银行</span>
						<span>中国工商银行</span>
					</div>
					<div class="info">
						<span><img class="od2"  src="../img/vip12.png" width="11" />银行支行</span>
						<span>厦门湖里支行</span>
					</div>
					<div class="info">
						<span><img class="od2"  src="../img/vip9.png" width="11" />收款姓名</span>
						<span class="od3" style="">林小华<button class="od4" onclick="copy('234')" style=""><nobr>复制</nobr></button></span>
					</div>
					<div class="info">
						<span><nobr><img class="od2"  src="../img/vip10.png" width="11" />收款卡号</nobr></span>
						<span class="od5" style="">622228420552852845<button class="od4" onclick="copy('234')" style=""><nobr>复制</nobr></button></span>
					</div>
					<div class="infodi">
						<span><img class="od2"  src="../img/pay.png" width="11" />支付凭证</span>
						<div id="fileUpload" class="file-container" style="">
							<img src="../img/upload.png" class="faker" width="100" height="100" />
							<input type="file" id="file" />
						</div>
					</div>
				</div>
				<div class="addition" style="">
					<textarea style="" id="addition" rows="5" placeholder="备注（选填）" maxlength="200"></textarea>
					<span class="addition-count">0/200</span>
				</div>
				<div class="order-detail-footer" onclick="handleClickRemit();">
					<button>已成功打款</button>
				</div>
			</div>
		</div>
		<script src="../js/uploadProof.js"></script>
		<script type="text/javascript">
			$("#addition").on('input propertychange', function() {
				//获取输入内容
				var userDesc = $(this).val();
				//判断字数
				var len=userDesc.length
				//显示字数
				$(".addition-count").html(len + '/200');
			});
		</script>
	</body>

</html>