<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>会员信息</title>
		<link rel="stylesheet" href="../css/vipMassage.css" />
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="app">
			<div class="header">
				<img src="../img/back.png" alt="" />
				<div class="title">会员信息</div>
			</div>
			<div class="content">
				<div class="order_status">
					<div class="item" onclick="status('.vip')">
						<div class="change change1">
							<nobr>会员信息</nobr>
							<br />
							<span class="vip"></span>
						</div>
					</div>
					<div class="item" onclick="status('.code')">
						<div class="change change2">
							<nobr>收款码</nobr>
							<br />
							<span class="code"></span>
						</div>
					</div>
					<div class="item" onclick="status('.order')">
						<div class="change change3">
							<nobr>充值订单</nobr>
							<br />
							<span class="order"></span>
						</div>
					</div>
					<div class="item" onclick="status('.money')">
						<div class="change change4">
							<nobr>资金明细</nobr>
							<br />
							<span class="money"></span>
						</div>
					</div>
					<div class="item" onclick="status('.split')">
						<div class="change change5">
							<nobr>分成记录</nobr>
							<br />
							<span class="split"></span>
						</div>
					</div>
					<div class="item" onclick="status('.withdraw')">
						<div class="change change6">
							<nobr>提现记录</nobr>
							<br />
							<span class="withdraw"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content_list vip" onscroll="vip(event)">
				<div class="vip_msg">
					<div>上级账户:1923749273424</div>
					<div>姓名：林晓华（联系电话:1923749273424）</div>
					<div>会员账户:1923749273424</div>
					<div>姓名：林晓华（联系电话:1923749273424）</div>
				</div>
				<div class="vip_status">
					<div class="item_1">
						<div class="name"><img src="../img/vip1.png" />总币量</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip2.png" />押金</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip3.png" />冻结中的币</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip4.png" />交易中的币</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip5.png" />可用币</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip6.png" />今日成功订单金额</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip7.png" />今日订单总量</div>
						<div class="value">234123123</div>
					</div>
					<div class="item_1">
						<div class="name"><img src="../img/vip8.png" />今日订单成功率</div>
						<div class="value">234123123</div>
					</div>
				</div>
				<div class="vip_status">
					<div class="item_1">
						<div class="name">抢单功能</div>
						<div class="value">正常</div>
					</div>
					<div class="item_1">
						<div class="name">账号状态</div>
						<div class="value">正常</div>
					</div>
					<div class="item_1">
						<div class="name">在线状态</div>
						<div class="value color_g">在线</div>
					</div>
					<div class="item_1">
						<div class="name">提现状态</div>
						<div class="value color_o">禁用</div>
					</div>
				</div>
				<div class="vip_btn">
					<div class="vip_btn_noselect" onclick="change(this)">下线</div>
					<div class="vip_btn_noselect" onclick="change(this)">封号</div>
				</div>
				<div class="vip_btn">
					<div class="vip_btn_noselect" onclick="change(this)">禁用提现功能</div>
					<div class="vip_btn_noselect" onclick="change(this)">禁用抢单功能</div>
				</div>
				<div class="vip_btn">
					<div class="vip_btn_noselect" onclick="change(this)">设置费率</div>
					<div></div>
				</div>
			</div>
			<div class="content_list code">
				<div class="item">
					<div class="msg_head_top">
						<div class="key">交易类型:支付宝扫码</div>
					</div>
					<div class="msg_head info">
						<div class="key">状态</div>
						<div class="card" onclick="handleSelect(this);"></div>
						<!--<img src="../img/kai.png"/>-->
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip9.png" alt="" />收款姓名</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip10.png" alt="" />收款卡号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip13.png" alt="" />最小收款</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip11.png" alt="" />最大收款</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip16.png" alt="" />累计产生利益</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip14.png" alt="" />
							<nobr>省市</nobr>
						</div>
						<div class="value line">黑龙江省齐齐哈尔是乌鲁木齐新疆刚过饭盆底</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip7.png" alt="" />总订单</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip8.png" alt="" />总金额</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip6.png" alt="" />成功订单</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip19.png" alt="" />成功金额</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip18.png" alt="" />最近5笔订单</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip17.png" alt="" />审核状态</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body_1">
						<div class="key">
							<nobr><img src="../img/vip15.png" alt="" />收款码</nobr>
						</div>
						<div class="value"><img class="payimg" src="../img/upload.png" /></div>
					</div>
					<div class="code_btn">
						<div></div>
						<div>删除</div>
					</div>
				</div>
				<div class="item">
					<div class="msg_head_top">
						<div class="key">交易类型:支付宝扫码</div>
					</div>
					<div class="msg_head info">
						<div class="key">状态</div>
						<div class="card" onclick="handleSelect(this);"></div>
						<!--<img src="../img/kai.png"/>-->
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip9.png" alt="" />收款姓名</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip10.png" alt="" />收款卡号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip13.png" alt="" />最小收款</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip11.png" alt="" />最大收款</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip16.png" alt="" />累计产生利益</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip14.png" alt="" />
							<nobr>省市</nobr>
						</div>
						<div class="value line">黑龙江省齐齐哈尔是乌鲁木齐新疆刚过饭盆底</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip7.png" alt="" />总订单</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip8.png" alt="" />总金额</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip6.png" alt="" />成功订单</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip19.png" alt="" />成功金额</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip18.png" alt="" />最近5笔订单</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip17.png" alt="" />审核状态</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body_1">
						<div class="key">
							<nobr><img src="../img/vip15.png" alt="" />收款码</nobr>
						</div>
						<div class="value"><img class="payimg" src="../img/upload.png" /></div>
					</div>
					<div class="code_btn">
						<div></div>
						<div>删除</div>
					</div>
				</div>
				<div class="Pagination code_p">
					<div class="previous" onclick="code_previous('.code_p')">上一页</div>
					<div class="next" onclick="code_next('.code_p')">下一页</div>
				</div>
			</div>
			<div class="content_list order">
				<div class="item">
					<div class="msg_head">
						<div class="key">充值订单</div>
						<!--<div class="value value1">已提交</div>
						<div class="value value2">交易完成</div>-->
						<div class="value value1"><span>订单状态：</span>已接单</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/me7.png" alt="" />订单号</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/ordermoney.png" alt="" />订单金额</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/ordertime.png" alt="" />下单时间</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body_1">
						<div class="key">
							<nobr><img src="../img/pay.png" alt="" />支付凭证</nobr>
						</div>
						<div class="value"><img class="payimg" src="../img/upload.png" /></div>
					</div>
					<!--<div class="msg_footer">
						<div class="msg_btn_TD btn_pass">上传凭证</div>
					</div>-->
				</div>
				<div class="item">
					<div class="msg_head">
						<div class="key">充值订单</div>
						<!--<div class="value value1">已提交</div>
						<div class="value value2">交易完成</div>-->
						<div class="value value1"><span>订单状态：</span>已接单</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/me7.png" alt="" />订单号</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/ordermoney.png" alt="" />订单金额</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/ordertime.png" alt="" />下单时间</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
					<div class="msg_body_1">
						<div class="key">
							<nobr><img src="../img/pay.png" alt="" />支付凭证</nobr>
						</div>
						<div class="value"><img class="payimg" src="../img/upload.png" /></div>
					</div>
					<!--<div class="msg_footer">
						<div class="msg_btn_TD btn_pass">上传凭证</div>
					</div>-->
				</div>
				<div class="Pagination order_p">
					<div class="previous" onclick="code_previous('.order_p')">上一页</div>
					<div class="next" onclick="code_next('.order_p')">下一页</div>
				</div>
			</div>
			<div class="money" onscroll="money(event)">
				<div class="title title1">
					<div class="item item1">
						<nobr>资金类型</nobr>
					</div>
					<div class="item item2">原有金额</div>
					<div class="item item3">变动金额</div>
					<div class="item item4">
						<nobr>下单时间/IP地址</nobr>
					</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="title title2">
					<div class="item item1">分成冻结oo</div>
					<div class="item item2">2222222.22</div>
					<div class="item item3">2222222.22</div>
					<div class="item item4 btn">2020-20-20 10:00:00<br />192.168.2.219</div>
				</div>
				<div class="Pagination money_p">
					<div class="previous" onclick="code_previous('.money_p')">上一页</div>
					<div class="next" onclick="code_next('.money_p')">下一页</div>
				</div>
			</div>
			<div class="split">
				<div class="title title1">
					<div class="item item1">下级账号</div>
					<div class="item item2">订单金额</div>
					<div class="item item3">分成比例</div>
					<div class="item item4">
						<nobr>分成金额</nobr>
					</div>
					<div class="item item5">时间</div>
				</div>
				<div class="title title2">
					<div class="item item1">5777777777777777</div>
					<div class="item item2">22222.22</div>
					<div class="item item3">0.3232</div>
					<div class="item item4">
						<nobr>+33333.22</nobr>
					</div>
					<div class="item item5 btn">2020-20-20 10:00:00</div>
				</div>
				<div class="title title2">
					<div class="item item1">5777777777777777</div>
					<div class="item item2">22222.22</div>
					<div class="item item3">0.3232</div>
					<div class="item item4">
						<nobr>+33333.22</nobr>
					</div>
					<div class="item item5 btn">2020-20-20 10:00:00</div>
				</div>
				<div class="Pagination split_p">
					<div class="previous" onclick="code_previous('.split_p')">上一页</div>
					<div class="next" onclick="code_next('.split_p')">下一页</div>
				</div>
			</div>
			<div class="content_list withdraw">
				<div class="item">
					<div class="msg_head">
						<div class="key">提现订单:2jhjkhkj234234</div>
						<!--<div class="value value1">已提交</div>
						<div class="value value2">交易完成</div>-->
						<div class="value value1">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/me7.png" alt="" />会员账号</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/ordermoney.png" alt="" />提现金额</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip9.png" alt="" />收款姓名</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip10.png" alt="" />收款卡号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip8.png" alt="" />收款银行</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip12.png" alt="" />收款营业网点</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip11.png" alt="" />提现时间</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
				</div>
				<div class="item">
					<div class="msg_head">
						<div class="key">提现订单:2jhjkhkj234234</div>
						<!--<div class="value value1">已提交</div>
						<div class="value value2">交易完成</div>-->
						<div class="value value1">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/me7.png" alt="" />会员账号</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/ordermoney.png" alt="" />提现金额</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip9.png" alt="" />收款姓名</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip10.png" alt="" />收款卡号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip8.png" alt="" />收款银行</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip12.png" alt="" />收款营业网点</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key"><img src="../img/vip11.png" alt="" />提现时间</div>
						<div class="value">2020-20-20-20:20:00</div>
					</div>
				</div>
				<div class="Pagination withdraw_p">
					<div class="previous" onclick="code_previous('.withdraw_p')">上一页</div>
					<div class="next" onclick="code_next('.withdraw_p')">下一页</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				$('.vip').css('display', 'block')
				$('.data_vip_msg').css('display', 'block')
				$('.change1').css('color', '#01C6F3')
			})

			function status(e) {
				$(window).scrollTop(44);
				$('.vip').css('display', 'none')
				$('.order').css('display', 'none')
				$('.code').css('display', 'none')
				$('.money').css('display', 'none')
				$('.split').css('display', 'none')
				$('.withdraw').css('display', 'none')
				$('.change1').css('color', '#262B2F')
				$('.change2').css('color', '#262B2F')
				$('.change3').css('color', '#262B2F')
				$('.change4').css('color', '#262B2F')
				$('.change5').css('color', '#262B2F')
				if('.vip' == e) {
					$('.vip').css('display', 'block')
					$('.data_vip_msg').css('display', 'block')
					$('.change1').css('color', '#01C6F3')
				} else if('.code' == e) {
					$('.code').css('display', 'block')
					$('.data_code').css('display', 'block')
					$('.change2').css('color', '#01C6F3')
				} else if('.order' == e) {
					$('.order').css('display', 'block')
					$('.data_order').css('display', 'block')
					$('.change3').css('color', '#01C6F3')
				} else if('.money' == e) {
					$('.money').css('display', 'block')
					$('.data_money').css('display', 'block')
					$('.change4').css('color', '#01C6F3')
				} else if('.split' == e) {
					$('.split').css('display', 'block')
					$('.data_vip_split').css('display', 'block')
					$('.change5').css('color', '#01C6F3')
				} else if('.withdraw' == e) {
					$('.withdraw').css('display', 'block')
					$('.data_withdraw').css('display', 'block')
					$('.change6').css('color', '#01C6F3')
				}
			}

			function clearSelect() {
				var cardList = document.getElementsByClassName("card");
				for(let i = 0; i < cardList.length; i++) {
					if(cardList[i]) {
						cardList[i].classList.remove("select");
					}
				}
			}

			function handleSelect(cardElement) {
				if(cardElement) {
					if(cardElement) {
						var i = cardElement.classList.toString().indexOf("select")
						clearSelect();
						if(i != -1) {
							return;
						}
						cardElement.classList.toggle("select");
					}
				}
			}

			function clearSelect() {
				var cardList = document.getElementsByClassName("vip_btn_noselect");
				for(let i = 0; i < cardList.length; i++) {
					if(cardList[i]) {
						cardList[i].classList.remove("vip_btn_select");
					}
				}
			}

			function change(cardElement) {
				if(cardElement) {
					var i = cardElement.classList.toString().indexOf("vip_btn_select")
					if(i != -1) {
						cardElement.classList.remove("vip_btn_select");
					} else {
						cardElement.classList.toggle("vip_btn_select");
					}
				}
			}

			function vip() {
				let scrollBottom = event.target.scrollHeight - event.target.scrollTop - event.target.clientHeight;
				if(scrollBottom == 0) {
					alert('到底了')
				}
			}

			function clear_p(msg) {
				console.log($(msg)[0].children)
				for(let i = 0; i < $(msg)[0].children.length; i++) {
					$(msg)[0].children[i].classList.remove('select_p')
				}
			}

			function code_previous(msg) {
				clear_p(msg)
				console.log(event.target.classList.add('select_p'))
			}
			function code_next(msg) {
				clear_p(msg)
				console.log(event.target.classList.add('select_p'))
			}
		</script>
	</body>

</html>