<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>我要提现</title>
		<link rel="stylesheet" href="../css/withdraw.css" />
		<link rel="stylesheet" href="../css/iosSelect.css" />
		<script type="text/javascript" src="../js/iosSelect.js"></script>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="app">
			<div class="header">
				<img src="../img/back.png" alt="" />
				<div class="title">我要提现</div>
				<div class="t_order">提现订单</div>
			</div>
			<div class="content">
				<div class="order_status">
					<div class="item" onclick="status('.TDorder')">
						<div class="change change1">提现申请
							<br />
							<span class="TDorder"></span>
						</div>
					</div>
					<div class="item" onclick="status('.TXorder')">
						<div class="change change2">提现明细
							<br />
							<span class="TXorder"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content_list TDorder">
				<div class="hr"></div>
				<div class="card">
					<div class="tit">选择银行卡</div>
					<div class="band" id="cardType">
						<div class="band_msg">
							<img class="img1" id="cardTypeimg" src="" alt="" />
							<div id="cardTypeValue"></div>
						</div>
						<img class="img2" src="../img/right.png" alt="" />
					</div>
				</div>
				<div class="hr"></div>
				<div class="card tx">
					<div class="tit">提现金额</div>
					<div class="input">
						￥
						<input type="" name="" id="" value="" />
					</div>
					<div class="money">可提现金额￥888888.00</div>
					<div class="btn_tx">点击提现</div>
					<div class="tip">
						<div class="msg">
							<span></span>
							<span><nobr>提现将扣除提现手续费，是提现金额*0.01%</nobr></span>
							<span></span>
						</div>
					</div>
					<div class="ps">
						<div>温馨提示：</div>
						<p>1.单笔提现：1000~50010</p>
						<p>2.提现时间：周一至周日：00：00-24：00</p>
						<p>3.手续费=提现金额×0.01</p>
						<p>注意：直接提现需要扣除手续费，系统派单收款不收取收续费为了防止调单情况，提现延迟到账时间24小时到账</p>
					</div>
				</div>
			</div>
			<div class="content_list TXorder">
				<div class="hr1"></div>
				<div class="item">
					<div class="msg_body">
						<div class="key">会员账号</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key">订单号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">订单金额</div>
						<div class="value">已提交</div>
					</div>

					<div class="msg_body">
						<div class="key">收款姓名</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">收款卡号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">收款银行</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">
							<nobr>收款营业网点</nobr>
						</div>
						<div class="value">福建省厦门市翔安区时代</div>
					</div>
					<div class="msg_body">
						<div class="key">提现时间</div>
						<div class="value">2020-02-04 14：00：00</div>
					</div>
					<div class="msg_body">
						<div class="key">审核状态</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">
							<nobr>拒绝理由</nobr>
						</div>
						<div class="value">已了斯柯达积分链接交</div>
					</div>
				</div>

				<div class="item">
					<div class="msg_body">
						<div class="key">会员账号</div>
						<div class="value">44444444444444444444</div>
					</div>
					<div class="msg_body">
						<div class="key">订单号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">订单金额</div>
						<div class="value">已提交</div>
					</div>

					<div class="msg_body">
						<div class="key">收款姓名</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">收款卡号</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">收款银行</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">
							<nobr>收款营业网点</nobr>
						</div>
						<div class="value">福建省厦门市翔安区时代</div>
					</div>
					<div class="msg_body">
						<div class="key">提现时间</div>
						<div class="value">2020-02-04 14：00：00</div>
					</div>
					<div class="msg_body">
						<div class="key">审核状态</div>
						<div class="value">已提交</div>
					</div>
					<div class="msg_body">
						<div class="key">
							<nobr>拒绝理由</nobr>
						</div>
						<div class="value">已了斯柯达积分链接交</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/card-select.js"></script>
		<script type="text/javascript">
			function cli_c() {
				$("#cardType").trigger("click")
			}
			var Data = [{
					id: "建设银行",
					icon: '../img/jianhang.png',
					value: "建设银行（2893749729347234）林晓华"
				},
				{
					id: "北京银行",
					icon: '../img/beijing.png',
					value: "北京银行（2893749729347234）林晓华"
				}, {
					id: "招商银行",
					icon: '../img/zhaoshang.png',
					value: "招商银行（2893749729347234）林晓华"
				}, {
					id: "工商银行",
					icon: '../img/gongshang.png',
					value: "工商银行（2893749729347234）林晓华"
				}
			]
			//初始化
			$('.img1').attr('src',Data[0].icon)
			$('#cardTypeValue').html(Data[0].value)
			
			$('.TDorder').css('display', 'block')
			$('.change1').css('color', '#01C6F3')
			
			function status(e) {
				$('.TDorder').css('display', 'none')
				$('.TXorder').css('display', 'none')
				$('.CZorder').css('display', 'none')
				$('.change1').css('color', '#262B2F')
				$('.change2').css('color', '#262B2F')
				$('.change3').css('color', '#262B2F')
				if('.TDorder' == e) {
					$('.change1').css('color', '#01C6F3')
					$('.TDorder').css('display', 'block')
				} else if('.TXorder' == e) {
					$('.change2').css('color', '#01C6F3')
					$('.TXorder').css('display', 'block')
				} else if('.CZorder' == e) {
					$('.change3').css('color', '#01C6F3')
					$('.CZorder').css('display', 'block')
				}
			}
		</script>
	</body>

</html>