.app{
	background-color: rgba(69, 216, 204, .49);
}
.head_img{
	width: 100%;
	display: block;
}
.head_img_name{
	width: 2.01rem;
	height: .49rem;
	margin-top: -1.06rem;
	margin-left: .55rem;
	display: block;
}
.head_img_num{
	display: block;
	margin-top: .1rem;
	height: .38rem;
	margin-left: .86rem;
}
.head_img_num div{
	font-size: .14rem;
	line-height: .2rem;
	color: #13C7BD;
	padding: .05rem .2rem .13rem .07rem;
	font-weight: bold;
	width: auto;
	position: absolute;
	white-space: nowrap;
	background: url(../img/turn_bg3.png) no-repeat;
	background-size: 100% 100%;
}
.content{
	margin: .25rem auto;
	width: 3.45rem;
	height: 7.56rem;
	background: url(../img/turn_bg4.png) no-repeat;
	background-size: 100% 100%;
	padding-top: .37rem;
}
.table{
	margin: .2rem auto;
	display: flex;
	justify-content: center;
	width: 2.8rem;
	height: 2.8rem;
	overflow: hidden;
	background:url(../img/turn_bg6.png) no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
}
.content .name{
	width: 2.44rem;
	display: block;
	margin: 0 auto;
}
.content .name_img{
	margin: .19rem auto;
	width: 1.87rem;
	display: block;
}
.content .table .item{
	transform: rotate(22.5deg);
	transform-origin: bottom;
	/*background-color: red;*/
	height: 1.4rem;
	width: .7rem;
	display: flex;
	justify-content: center;
	position: absolute;
	align-items: center;
	flex-direction: column;
}
.content .table .item img{
	width: .5rem;
	height: .4rem;
	display: block;
}
.content .table .item div{
	font-size: .1rem;
	color: #E13738;
}
