body {
	background: #F3F6FC;
	margin: 0;
	padding: 0;
	color: #262B2F;
}

.app {
	max-width: 414px;
	margin: 0 auto;
	min-height: 100vh;
	background: #fff;
	width: 100%;
}

.content{
	background-color: #fff;
	/*padding: 0 15px;*/
	padding-bottom: 20px;
}
.title1{
	font-size: 18px;
	color: #01C6F3;
	line-height: 18px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
}
.title2{
	font-size: 18px;
	line-height: 32px;
	margin-top: 17px;
	width: 100%;
	text-align: center;
}
.title3{
	font-size: 15px;
	line-height: 32px;
	margin-top: 0;
	width:100%;
	text-align: center;
}
.img{
	display: block;
	width: 200px;
	height: 200px;
	margin: 16px auto;
}
.title4{
	font-size: 18px;
	line-height: 32px;
	margin-top: 30px;
	width: 100%;
	text-align: center;
}
.title5{
	font-size: 18px;
	line-height: 32px;
	margin-top: 0px;
	width: 100%;
	text-align: center;
}
.img2{
	width: 95%;
	display: block;
	margin: 17px auto 0;
}
.title6{
	font-size: 18px;
	color: #01C6F3;
	line-height: 18px;
	padding-top: 33px;
	width: 100%;
	text-align: center;
}
.title7{
	width: 90%;
	margin: 17px auto 0;
	font-size: 15px;
	line-height: 30px;
}
.title8{
	width: 90%;
	margin: 0 auto;
	font-size: 15px;
	line-height: 30px;
}
.title8 span{
	color: #E11618;
}
