<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="brand/brand">系列管理</a>
		<a>
			<cite>新增系列</cite>
		</a>
	</div>
</div>
<div class="shop-manage-content" style="padding: 10px;">

	<div class="content-body" style="padding: 10px;background: #fff">

		<form class="layui-form layui-form-pane1" action="">

			<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>系列名称:</label>
				<div class="layui-input-inline">
					<input id="name" type="text" name="name" lay-verify="required|name" required placeholder="输入系列名称" autocomplete="off" class="layui-input jing">
				</div>
			</div>
			<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>显示顺序:</label>
				<div class="layui-input-inline">
					<input id="sort" type="text" name="sort" lay-verify="required|name" required placeholder="数字越小越靠前" autocomplete="off" class="layui-input jing">
				</div>
			</div>

			<!--上传图片-->
			<div class="form-input clearl">
				<label class="layui-form-label">
                    <span class="star">*</span>系列图标:</br>规格:</br>80*80</span></label>
				<div class="fileView">

					<div class="btn_file">
						<img src="" id="add" width="200">
						<input name="imgSrc" id="imgSrc" class="filepath" accept="image/*" onchange="previewImg(this)" type="file"><br>
					</div>
					<!--<img src="" id="show" width="200">-->
				</div>
			</div>

		</form>

		<button class="layui-btn layui-btn-normal addshopSubmit" lay-submit lay-filter="*">立即提交</button>
	</div>

</div>
<script type="text/javascript" src="crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="crypto1/sha1/sha1.js"></script>
<script src="layui/plupload.full.min.js"></script>
<script src="layui/base64.js"></script>
<script src="layui/upload.js"></script>
<script type="text/javascript">
	//  upload('logo');
	layui.use(['form', 'laydate', 'layer'], function() {
		var form = layui.form;
		var laydate = layui.laydate;
		var layer = layui.layer;
		var router = layui.router()
		form.render();

		var myid = parseInt(router.search.id) //location.search.split('=')[1];

		if(myid) {
			var dataObj = {
				id: myid,
			}

			var mydata = JSON.stringify(dataObj)
			var account = sessionStorage.getItem("account");
			var token = sessionStorage.getItem("token");
			$.ajax({
				url: link + '/series/search?id=' + myid,
				type: 'get',
				dataType: 'json',
				headers: {
					"account": account,
					"token": token
				},
				//              data: mydata,
				success: function(res) {
					console.log('search:', res)
					if(res.err_code == 0) {
						$('#name').val(res.data.brand.Name);
						$('#sort').val(res.data.brand.Index);
						$("#add").attr("src", res.data.brand.Icon);
					} else {
						location.hash = '/user/login';
					}

				},
				error: function(jqXHR, textStatus, errorThrown) {
					/*错误信息处理*/
					layer.close(loadicon);
					layer.msg('请求失败，原因：' + errorThrown + ',状态码：' + jqXHR.status);

				}

			});
		} else {
			$("#add").attr("src", addlink);
		}

		$(document).off("click").on("click", ".addshopSubmit", function() {
			toSubmit();

		});

		function toSubmit() {
			var name = $('#name').val();
			var sort = $('#sort').val();
			var img = document.getElementById('add').src;

			var dataObj = {
				Id: myid || 0,
				Name: name,
				Index: parseInt(sort),
				Icon: img
			}

			var mydata = JSON.stringify(dataObj)
			// //console.log(mydata)
			var account = sessionStorage.getItem("account");
			var token = sessionStorage.getItem("token");
			var loadicon = layer.load(4); //加载动画

			$.ajax({
				url: link + '/series/update',
				type: 'post',
				dataType: 'json',
				headers: {
					"account": account,
					"token": token
				},
				data: mydata,
				success: function(res) {
					console.log(res)
					if(res.err_code == 0) {
						//console.log('brand')
						location.hash = '/brand/brand'
					} else {
						location.hash = '/user/login';
					}

				},
				error: function(jqXHR, textStßatus, errorThrown) {
					/*错误信息处理*/
					layer.close(loadicon);
					layer.msg('请求失败，原因：' + errorThrown + ',状态码：' + jqXHR.status);

				}

			});

		}
	})
</script>