<style>
	.addBtn {
		background: #fff;
		padding: 10px;
		display: flex;
		height: 72px;
		box-sizing: border-box
	}

	.imgitem img {
		width: 50px;
		height: 50px;

	}

	.x-body {
		margin-top: 10px;
	}

	.layui-laypage {
		margin: 0 auto;
	}
</style>
<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<!--<a lay-href="">轮播图</a>-->
		<a><cite>门店管理</cite></a>
	</div>
</div>
<div class="x-body">
	<div class="layui-row">
	</div>
	<!--<div class="addBtn">
		<button class="layui-btn layui-btn-normal addShopAdmin"  lay-href="/monitor/addmonitor"  style="margin-top: 6px;">新增监控</button>
	</div>-->
	<table class="layui-table indrstry-table" lay-skin='line'>
		<thead>
			<tr>
				<th>店名</th>
				<th>门店照</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody class="tr-content">

		</tbody>
	</table>

	<div id="page" style="display: flex;"></div>
</div>
<script>
	var pageNum = 0
	layui.use(['laydate', 'layer', 'laypage'], function () {
		var laydate = layui.laydate;
		var layer = layui.layer;
		var laypage = layui.laypage;
		var router = layui.router();

		var myid = router.search.id /// location.search.split('=')[1];
		//console.log(myid)
		// $('.addShopAdmin').on('click', function () {
		// 	// x_admin_show('新增商户管理员', './addshopadmin.html?myid=' + myid, 600, 400)
		// 	location.hash = '/banner/addbanner/id=' + myid
		// })

		doAjax()


		function doAjax() {

			//渲染列表
			var mydata = JSON.stringify({
				page_num: pageNum

			})
			var loading = layer.load(4)

			//console.log(mydata)

			$.ajax({
				url: link + '/user/info',
				type: 'post',
				dataType: 'json',
				data: mydata,
				success: function (res) {
					layer.close(loading)
					//console.log(res)
					// checkToken(res.code)
					var dataarr = res.users;
					//console.log("dataarr:", dataarr)

					laypage.render({
						elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
						, count: res.total //数据总数，从服务端得到
						, curr: pageNum + 1
						, jump: function (obj, first) {
							pageNum = obj.curr - 1
							if(!first) doAjax()
						}
					});

					var html = '';
					var roleCode = ''
					if (dataarr.length == 0) {
						//	$('.indrstry-table').hide();
						html = '<p>暂无数据</p>'
						$('.tr-content').html(html).find("p").css({ "text-align": "center", "padding": "20px" });

					} else {

						for (var i = 0; i < dataarr.length; i++) {
							
							html += '<tr>' +

								'<td>' + dataarr[i].OpenId + '</td>' +
								'<td class="imgitem">' +
								'<img src="' + dataarr[i].ImageUrl + '">' +
								'</td>' 
								// '<td>审核不通过</td>' +
								// '<td>' +
								// '<a class="layui-btn layui-btn-normal layui-btn-sm online-btn" data-id="' + dataarr[i].id +
								// '" data-online="1" lay-event="online">通过</a>' +
								// '<a class="layui-btn layui-btn-danger layui-btn-sm delshopadmin-btn" data-id="' + dataarr[i].id +
								// '" lay-event="del">删除</a>' +
								// '</td>' +

								'</tr>'

						}

						$('.tr-content').html(html);

						// //编辑
						// $('.industryedit').on('click', function () {
						// 	var _this = $(this);
						// 	var _id = _this.attr('data-id');

						// 	x_admin_show('编辑分类', 'addshopindustry.html?pid=' + _id, 400, 400)

						// })



						$('.delshopadmin-btn').off('click').on('click', function () {

							var _id = $(this).attr('data-id');
							var status = $(this).attr('data-status');


							if (status == '1') {
								var txt = '是否要变更身份为员工?'
							}
							else {
								var txt = '是否要变更身份为消费者?'
							}

							var delconfirm = layer.confirm(txt, {
								icon: 3,
								title: '提示'
							}, function (index) {
								var loading = layer.load(4);
								var json = {
									user_id: parseInt(_id),
									status: parseInt(status)
								}
								$.ajax({
									url: link + '/user/switch',
									type: 'post',
									dataType: 'json',
									data: JSON.stringify(json),
									success: res => {
										//console.log(res)

										layer.close(delconfirm);
										layer.msg('变更成功', {
											icon: 1,
											time: 1000 //1秒关闭（如果不配置，默认是3秒）
										}, function () {
											//window.location.href = location.href;
											doAjax()
										});
									}
								})
							})
						})

						//审核
						$('.online-btn').off('click').on('click', function () {

							var _id = $(this).attr('data-id');
							var online = $(this).attr('data-online');

							//console.log("online:", online)

							if (online == 1) {
								var txt = '是否要通过审核?'
								var sutxt = '审核通过'
								var ertxt = '错误:'
							}
							else {
								var txt = '是否要不通过审核?'
								var sutxt = '审核不通过'
								var ertxt = '错误:'
							}

							var delconfirm = layer.confirm(txt, {
								icon: 3,
								title: '提示'
							}, function (index) {
								//do something
								var mydata = JSON.stringify({
									id: _id,
									channelNo: my_c_channel_no
								})
								var loading = layer.load(4);
								$.ajax({
									url: link + '/admin/member/audit.do',
									type: 'post',
									dataType: 'json',
									data: {
										ts: ts,
										sign: sign,
										id: _id,
										status: online,
										token: mytoken
									},
									success: function (res) {
										layer.close(loading)
										checkToken(res.code)
										//console.log(res);
										if (res.code == 0) {
											layer.close(delconfirm);
											layer.msg(sutxt, {
												icon: 1,
												time: 1000 //1秒关闭（如果不配置，默认是3秒）
											}, function () {
												//window.location.href = location.href;
												doAjax()
											});

										} else {
											//console.log(ertxt + res.info)
											layer.closeAll();
										}
									},
									error: function () {
										layer.msg('请求服务器失败！！')
									}
								})

							});

						})

					}
				},
				error: function () {
					layer.msg('请求服务器失败！！')
				}
			})
		}

	});
</script>