.app{
	padding: 0 50rem;
}
.head{
	padding-top: 94rem;
	display: block;
}
.head .title{
	width: 44rem;
}
.head .title div:nth-of-type(1){
	font-size: 22rem;
	line-height: 25rem;

}
.head .title div:nth-of-type(2){
	height: 6rem;
	background-color: #4DD585;
	margin-top: -5rem;
}
.head .title{}
.head .msg{
	font-size: 12rem;
	line-height: 14rem;
	margin-top: 8rem;
	color: #494949;
	margin-bottom: 15rem;
}
.head .msg span{
	color: #4DD585;
}
.input .row{
	height: 43rem;
	display: flex;
	align-items: center;
	border-bottom: 1rem solid #F5F5F5;
	justify-content: space-between;
}
.input .row input{
	width: 100%;
	line-height: 40rem;
	font-size: 15rem;
}
.input .row div{
	flex-shrink: 0;
	font-size: 12rem;
	color: #4DD585;
}
.input .row .delete{
	width: 20rem;
	height: 20rem;
	flex-shrink: 0;
	display: none;
}
.input .row .code{
	width: 70rem;
	height: 33rem;
	flex-shrink: 0;
	border-radius: 5px;
	background-color: #F3F6FC;
}
.btn{
	margin-top: 60rem;
	line-height: 40rem;
	background-color: #4DD585;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-size: 15rem;
	box-shadow: 0 2rem 6rem 0 #DEDEDE;
}
