<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />
	</head>

	<body>
		<div class="app">
			<div style="width: 100rem;height: 100rem;background-color: red;"></div>

		</div>
		<!--<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function new1() {
				toast.prompt1(
					"我的",
					'3',
					e => {
						console.log(e)
					}
				);
			}

			function new2() {
				toast.prompt2(
					"提示",
					'请上传支付凭证',
					e => {
						console.log(e)
					}
				);
			}

			function new3() {
				toast.prompt3(
					"提示",
					'请上传支付凭客家话证就好空间很健康空间和空间',
					e => {
						console.log(e)
					}
				);
			}
			function remark() {
				toast.remark(
					"请输入备注",
					"", 
					'22',
					function(type, val) {
						console.log(type + val)
					}
				);
			}
			function remark2() {
				toast.remark(
					"请确认您已收到：23343元",
					"请输入您的二级密码", 
					'11',
					function(type, val) {
						console.log(type + val)
					}
				);
			}
			
			k_tab.init()

			function aa(e) {
				k_tab.tab_click(e, res => {
					console.log(res)
				})
			}
			k_radio.init()

			function bb(e) {
				k_radio.radio_click(e, res => {
					console.log(res)
				})
			}

			function list() {
				toast.list('详情', [{
							label: '会员账号',
							value: '手续费1234234'
						},
						{
							label: '订单号',
							value: '48723421234342324234233462736271'
						},
						{
							label: '订单金额',
							value: '232343434'
						},
						{
							label: '支付方式',
							value: '2331234434'
						},
						{
							label: '对应会员账号',
							value: '23123432143434'
						},
						{
							label: '原有金额',
							value: '2020-1-23 23:45234234'
						},
						{
							label: '现有金额',
							value: '2020-1-23 23:45234234'
						},
						{
							label: '备注',
							value: 'lksdj拉卡时间段法律就是辽阔的积分了是2020-1-23 23:451234214'
						},
						{
							label: '下单时间',
							value: '2020-1-23 23:4512342134'
						},
						{
							label: '更新时间',
							value: '2020-1-23 23:4512342134'
						},
					],
					function(val) {
						console.log(val);
					}
				);
			}
		</script>
	</body>

</html>