body {
	background: #fafafa;
	margin: 0;
	padding: 0;
	color: #262B2F;
}
.sc1{
	width: 15px;height: 15px;position: absolute;right: 5px;top: 5px;padding: 10px;
}
.sc2{
	background-color: white;
}
.sc3{
	padding: 15px 10px;display: flex;justify-content: center;align-items: center;
}
.sc4{
	border:1px solid #01C6F3;margin-right: 10px;height: 40px;border-radius: 8px;width: 100%;line-height: 40px;color: #01C6F3;text-align: center;font-size: 15px;
}
.sc5{
	border:1px solid #01C6F3;height: 40px;border-radius: 8px;width: 100%;line-height: 40px;color: #01C6F3;text-align: center;font-size: 15px;
}
.sc6{
	margin-top: 8px;
}
.sc7{
	display: flex;height: 50px;border-bottom: 1px solid #e0e0e0;background-color: white;padding: 0 13px;
}
.sc8{
	width: 33.33%;text-align: center;display: flex;justify-content: center;
}
.sc9{
	display: block;width: 70px;line-height: 50px;position: relative;
}
.sc10{
	display: block;width: 100px;line-height: 50px;position: relative;
}
.sc11{
	width: 16px;border-radius: 8px;height: 16px;background-color: #E94634;position: absolute;top: 5px;right: -10px;line-height: 16px;font-size: 12px;color: white;
}
.sc12{
	background-color: white;padding: 0 13px;margin-bottom: 10px;
}
.sc13{
	display: flex;align-items: center;justify-content: space-between;
}
.sc14{
	background-color: white;padding: 0 13px;margin-bottom: 8px;
}
.sc15{
	width: 100%;padding: 10px 0;
}
.sc16{
	display: flex;justify-content: space-between;align-items: center;font-size: 15px;line-height: 30px;
}
.sc17{
	color: rgba(38, 43, 47, 0.5);
}
.sc18{
	word-break: break-all;text-align: right;line-height: 18px;
}
.sc19{
	display: flex;align-items: center;
}
.sc20{
	width: 40px;height: 24px;line-height: 24px;text-align: center;color: white;background-color: #01C6F3;border-radius: 4px;margin-left: 8px;font-size: 12px;
}
.sc21{
	display: flex;align-items: center;word-break: break-all;text-align: right;line-height: 15px;
}
.sc22{
	display: flex;justify-content: space-between;font-size: 15px;line-height: 30px;
}
.sc23{
	margin-right: 5px;
}
.sc24{
	width: 100%;text-align: center;color: #E94634;font-size: 15px;line-height: 15px;
}
.sc25{
	display: flex;justify-content: center;align-items: center;padding-bottom: 15px;
}
.sc26{
	height: 1px;width: 26px;background-image: linear-gradient(to right, rgba(255, 255, 255, 1) , #01C6F3);
}
.sc27{
	font-size: 14px;margin:0px 3px;
}
.sc28{
height: 1px;width: 26px;background-image: linear-gradient(to left, rgba(255, 255, 255, 1) , #01C6F3);
}
.sc29{
display: flex;justify-content: center;align-items: center;
}
.sc30{
padding: 15px 10px;display: flex;justify-content: space-between;align-items: center;
}
.sc31{
background-color: #01C6F3;height: 40px;border-radius: 8px;width: 48%;line-height: 40px;color: white;text-align: center;font-size: 15px;
}
.sc32{
padding: 15px 10px;display: flex;justify-content: space-between;align-items: center;
}
.sc33{
background-color: #01C6F3;height: 40px;border-radius: 8px;width: 48%;line-height: 40px;color: white;text-align: center;font-size: 15px;
}

.order-list-page {
	max-width: 414px;
	margin: 0 auto;
	min-height: 100vh;
	background: #fafafa;
	padding-bottom: 80px;
	position: relative;
}

/* 头部 & 搜索模块 */

.order-list-page .header .page-title {
	height: 46px;
	line-height: 46px;
	text-align: center;
	/*margin-bottom: 8px;*/
	background-color: #fff;
	font-size: 18px;
	font-weight: 500;
	color: #262B2F;
}
/* 底部tab栏 */

.tabs {
	max-width: 414px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	background: #fff;
	position: fixed;
	width: 100%;
	bottom: 0;
	/*box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);*/
}

.tabs .tab {
	flex: 1;
	text-align: center;
	font-size: 9px;
	color: #262B2F;
	font-weight: 500;
	position: relative;
}

.tabs .tab .tab-tag {
	width: 16px;
	height: 16px;
	color: #fff;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: -4px;
	line-height: 16px;
	right: 8px;
	font-size: 8px;
}

.tabs .tab .tab-icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.tabs .tab .icon-order-list {
	background: url(../images/icon_order_list.png) no-repeat center / 100%;
}

.tabs .tab:hover .icon-order-list,
.tabs .active .icon-order-list {
	background: url(../images/icon_order_list_press.png) no-repeat center / 100%;
}

.tabs .tab .icon-rob-order {
	background: url(../images/icon_rob_order.png) no-repeat center / 100%;
}

.tabs .tab:hover .icon-rob-order,
.tabs .active .icon-rob-order {
	background: url(../images/icon_rob_order_press.png) no-repeat center / 100%;
}

.tabs .tab .icon-buy-center {
	background: url(../images/icon_buy_center.png) no-repeat center / 100%;
}

.tabs .tab:hover .icon-buy-center,
.tabs .active .icon-buy-center {
	background: url(../images/icon_buy_center_press.png) no-repeat center / 100%;
}

.tabs .tab .icon-buy-order {
	background: url(../images/icon_buy_order.png) no-repeat center / 100%;
}

.tabs .tab:hover .icon-buy-order,
.tabs .active .icon-buy-order {
	background: url(../images/icon_buy_order_press.png) no-repeat center / 100%;
}

.tabs .tab .icon-me {
	background: url(../images/icon_me.png) no-repeat center / 100%;
}

.tabs .tab:hover .icon-me,
.tabs .active .icon-me {
	background: url(../images/icon_me_press.png) no-repeat center / 100%;
}

.tabs .tab:hover {
	color: #01C6F3
}

.tabs .active .tab-label {
	color: #01C6F3;
}
.change{
	border-bottom: 3px solid #01C6F3;
	color: #01C6F3;
}
