.toast-mask {
	height: 110vh;
	width: 100vw;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	top: -5vh;
	display: flex;
	align-items: center;
}

.toast-mask .toast {
	background: #fff;
	width: 90%;
	max-width: 320px;
	min-width: 250px;
	margin: 0 auto;
	min-height: 52px;
	border-radius: 5px;
	padding-top: 30px;
	padding-bottom: 47px;
	position: relative;
}

.toast-mask .toast .item {
	font-size: 15px;
	display: flex;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	/*min-width: 300px;*/
	/*background-color: red;*/
	justify-content: space-between;
	align-items: center;
}

.toast-mask .toast .item .label {
	min-width: 72px;
	margin-right: 8px;
	color: rgba(38, 43, 47, 0.5);
	text-align: left;
}
.toast-mask .toast .item .value {
	color: #262B2F;
	text-align: right;
	word-break: break-all;
	/*margin-right: 15px;*/
}
.toast-mask .toast.info-toast {
	/*position: absolute;*/
	/*bottom: 60px;*/
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100vw;
	background: transparent;
	text-align: center;
}

.toast-mask .toast.info-toast .message {
	text-align: center;
	background: rgba(255, 255, 255, 1);
	border-radius: 20px;
	display: inline-block;
	margin: auto;
	padding: 4px 30px;
	min-width: 225px;
}

.toast-mask .toast .title {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
	padding: 0 40px;
}

.toast-mask .toast .content {
	font-size: 15px;
	font-weight: 400;
	padding: 0 30px 30px;
	text-align: center;
	color: rgba(38, 43, 47, 0.5);
}

.toast-mask .toast .input-wrapper {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
}

.toast-mask .toast .input-placeholder {
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	color: rgba(38, 43, 47, 0.5);
}

.toast-mask .toast .password {
	height: 32px;
	background: #f5f5f5;
	border-radius: 4px;
	margin-top: 13px;
	padding: 0 12px;
	margin-bottom: 12px;
}

.toast-mask .toast .buttons {
	height: 46px;
	border-top: 0.5px solid #E0E0E0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.toast-mask .toast .buttons .button {
	font-size: 15px;
	font-weight: 400;
	flex: 1;
	text-align: center;
	height: 46px;
	line-height: 46px;
	border-right: 1px solid #e0e0e0;
}

.toast-mask .toast .buttons .button:last-child {
	border-right: none;
}

input {
	outline: none;
	border: none;
	box-shadow: none;
}