<script type="text/javascript">
	var navtitle = '基本资料';
</script>
<div style="margin:8px;box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading " role="tab" id="headingOne">
			<h4 class="panel-title" style="position: relative;">
						<a onclick="changeimg('one')" style="width: 100%;display: block;text-decoration: none;" role="button" data-toggle="collapse" data-parent="" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							开单资料
							<img class="one" style="position: absolute;bottom: 0;right: 0;width: 17px;" src="img/up.png"/>
						</a>
					</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<ul class="list-group">
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">客户编号</span><span id="one1" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">消费类型</span><span id="one2" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">预约日期</span><span id="one3" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">宝宝姓名</span><span id="one4" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">宝宝性别</span><span id="one5" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">宝宝年龄</span><span id="one6" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">农历生日</span><span id="one7" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">公历生日</span><span id="one8" style="margin-left: 50px;"></span></li>

			</ul>
		</div>
	</div>
	<div style="margin: 0;" class="panel panel-default">
		<div class="panel-heading " role="tab" id="headingTwo">
			<h4 class="panel-title" style="position: relative;">
						<a onclick="changeimg('two')" style="width: 100%;display: block;text-decoration: none;" role="button" data-toggle="collapse" data-parent="" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							家长信息
							<img class="two" style="position: absolute;bottom: 0;right: 0;width: 17px;" src="img/up.png"/>
						</a>
						
					</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<ul class="list-group">
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">父亲姓名</span><span id="one9" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">父亲手机</span><span id="one10" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">母亲手机</span><span id="one11" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">母亲手机</span><span id="one12" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">父亲Q&nbsp;Q</span><span id="one13" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">母亲Q&nbsp;Q</span><span id="one14" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">家庭住址</span><span id="one15" style="margin-left: 50px;"></span></li>
			</ul>
		</div>
	</div>
	<div style="margin: 0;" class="panel panel-default">
		<div class="panel-heading " role="tab" id="headingThree">
			<h4 class="panel-title" style="position: relative;">
						<a onclick="changeimg('three')" style="width: 100%;display: block;text-decoration: none;" role="button" data-toggle="collapse" data-parent="" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							门店信息
						<img class="three" style="position: absolute;bottom: 0;right: 0;width: 17px;" src="img/up.png"/>
							
						</a>

					</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<ul class="list-group">
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">开 单 店</span><span id="one16" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">服 务 店</span><span id="one17" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">接 单 点</span><span id="one18" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">所属分区</span><span id="one19" style="margin-left: 50px;"></span></li>
				<li class="list-group-item"><span style="text-align: right;width: 60px;display: inline-block;">客户来源</span><span id="one20" style="margin-left: 50px;"></span></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$.ajax({
		url: baseUrl + '/CustomerBase/list?CustomerID=' + CustomerID,
		type: 'get',
		dataType: 'json',
		//		data: mydata,
		success: function(res) {
			Debugger.log("基本资料", res)
			if(res.code == 0) {
				var data = res.data[0]
				$('#one1').text(data.客户编号)
				$('#one2').text(data.消费类型)
				$('#one3').text(data.预约日期)
				$('#one4').text(data.宝宝姓名)
				$('#one5').text(data.宝宝性别)
				$('#one6').text(data.宝宝年龄)
				$('#one7').text(data.农历生日)
				$('#one8').text(data.公历生日)
				$('#one9').text(data.父亲姓名)
				$('#one10').text(data.父亲手机)
				$('#one11').text(data.母亲姓名)
				$('#one12').text(data.母亲手机)
				$('#one13').text(data.父亲QQ)
				$('#one14').text(data.母亲QQ)
				$('#one15').text(data.家庭地址)
				$('#one16').text(data.开单店)
				$('#one17').text(data.服务店)
				$('#one18').text(data.接单点)
				$('#one19').text(data.所属分区)
				$('#one20').text(data.客户来源)
			} else {
				Debugger.log("请求结果", res.msg)
			}
		}
	})
</script>