<script type="text/javascript">
	var navtitle = '首页';
</script>
<label class="title1" for="">订单详细</label>
<div>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#basicinfo">
		<img src="img/icon_ziliao.png" />
		<label for="">基本资料</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#commodity">
		<img src="img/icon_shangpin.png" />
		<label for="">会员商品</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#paymentdetails">
		<img src="img/icon_mingxi.png" />
		<label for="">付款明细</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#photography">
		<img src="img/icon_sheying.png" />
		<label for="">摄影流程</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#pickup">
		<img src="img/icon_qujian.png" />
		<label for="">取件流程</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#review">
		<img src="img/icon_dianpin.png" />
		<label for="">客户点评</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#sneakpeek_1">
		<img src="img/icon_du.png" />
		<label for="">先睹为快</label>
	</a>
	<!--<a style="text-decoration: none;" class="col-xs-4 piece" href="#binding">
		<img src="img/icon_weixin.png" />
		<label for="">绑定微信</label>
	</a>-->
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#download_1">
		<img src="img/icon_xiazhai.png" />
		<label for="">底片下载</label>
	</a>
</div>
<label class="title1" for="">VIP详细</label>
<div>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#vipinfo">
		<img src="img/icon_vipxinxi.png" />
		<label for="">VIP信息</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#integral">
		<img src="img/icon_jifenjilv.png" />
		<label for="">积分记录</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#vipconsumption">
		<img src="img/icon_vipxiaofei.png" />
		<label for="">VIP消费</label>
	</a>
	<a style="text-decoration: none;" class="col-xs-4 piece" href="#recharge">
		<img src="img/icon_chonzhi.png" />
		<label for="">充值记录</label>
	</a>
</div>