<script type="text/javascript">
	var navtitle = 'VIP消费';
</script>
<style type="text/css">
	.msg {
		color: #9D9D9D;
	}
	
	.msg2 {
		color: orange;
	}
</style>
<div class="content1">

</div>

<script type="text/javascript">
	$.ajax({
		url: baseUrl + '/CardPayMentCount/list?CustomerID=' + CustomerID,
		type: 'get',
		dataType: 'json',
		//		data: mydata,
		success: function(res) {
			Debugger.log("会员消费列表", res)
			if(res.code == 0) {
				var data = res.data;
				for(var i = 0; i < data.length; i++) {
					$('.content1').append(`
						<ul class="list-group" style="margin: 10px;">
							<li class="list-group-item" style="display: flex;align-items: center;justify-content: space-between;">
								<span>${data[i].款项}</span>
								<span class="msg">${data[i].消费日期.slice(0, 4)}/${data[i].消费日期.slice(4, 6)}/${data[i].消费日期.slice(6, 8)}</span>
							</li>
							<li class="list-group-item" style="display: flex;align-items: center;justify-content: space-between;">
								<span>金额</span>
								<span class="msg2">￥${data[i].金额}</span>
							</li>
							<li class="list-group-item" style="display: flex;align-items: center;justify-content: space-between;">
								<span>来源</span>
								<span class="msg">${data[i].来源}</span>
							</li>
							<li class="list-group-item" style="display: flex;align-items: center;justify-content: space-between;">
								<span>收款人</span>
								<span class="msg">${data[i].收款人}</span>
							</li>
						</ul>`)
				}
			} else {
				Debugger.log("请求结果", res.msg)
			}
		}
	})
</script>