<style>
    .layui-form-label{
        width: 100px;
    }
    .delbtn{
        display: none;
    }
</style>

<title>模板消息</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>模板消息</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">模板消息</div>
        <div class="layui-card-body">
          
          <!-- <div class="layui-form" wid100 lay-filter="" v-for="(item,index) in list">
            <div class="layui-form-item">
              <label class="layui-form-label">{{item.typetext}}</label>
              <div class="layui-input-block">
                    <input id="shopname" style="width: 520px;float: left;margin-right: 10px" type="text" :value="'已开启:模板ID为：'+item.templateId"  name="shopname" lay-verify="required|title" required placeholder="" autocomplete="off"
                    class="layui-input">
                    <button class="layui-btn getmoney"  id="index" lay-submit  lay-filter="set_system_email">开启</button>
              </div>
            </div>
          </div> -->

          <form class="layui-form layui-form-pane1" action="">
                <!-- <input type="hidden" value="{$Request.session.aid}" id="aid"> -->

                <div class="form-input clearl">
                    <label class="layui-form-label">助力成功通知:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn0">开启</a>
                    <input type="text" class="layui-input showid" name="dealtip" id="show0" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del0">删除</a>
                </div>

                <div class="form-input clearl">
                    <label class="layui-form-label">抽奖结果通知:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn1">开启</a>
                    <input type="text" class="layui-input showid" name="" id="show1" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del1">删除</a>
                </div>

                <div class="form-input clearl">
                    <label class="layui-form-label">核销成功通知:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn2">开启</a>
                    <input type="text" class="layui-input showid" name="" id="show2" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del2">删除</a>
                </div>
                <div class="form-input clearl">
                    <label class="layui-form-label">服务到期提醒:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn3">开启</a>
                    <input type="text" class="layui-input showid" name="" id="show3" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del3">删除</a>
                </div>
                <div class="form-input clearl">
                    <label class="layui-form-label">活动加入成功:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn4">开启</a>
                    <input type="text" class="layui-input showid" name="" id="show4" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del4">删除</a>
                </div>
                <div class="form-input clearl">
                    <label class="layui-form-label">活动成行通知:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn5">开启</a>
                    <input type="text" class="layui-input showid" name="" id="show5" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del5">删除</a>
                </div>
                <div class="form-input clearl">
                    <label class="layui-form-label">活动审核结果:</label>
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal openbtn" id="btn6">开启</a>
                    <input type="text" class="layui-input showid" name="" id="show6" value="" style="display: none;width: 500px; float: left;" />
                    <a href="" onclick="return false;" class="layui-btn layui-btn-normal delbtn" id="del6">删除</a>
                </div>

            </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    		layui.use(['form', 'layer'], function () {
			var form = layui.form;
			var $ = layui.jquery;

			var layer = layui.layer;

			// isLogin()

			// var aid = $('#aid').val();
            doajax();
			function doajax(){
                var mydata = JSON.stringify({
				channelNo: my_c_channel_no,

                })
                var loading = layer.load(4)
                $.ajax({
                    type: "post",
                    url: link + "/admin/template/getTemplateList.do",
                    dataType: 'json',
                    data: {
                        channelNo: my_c_channel_no
                    },
                    success: function (res) {
                        layer.close(loading)
                        // checkToken(res.code)

                        if (res.code == -1) {
                            layer.msg('加载失败：' + res.info)

                        } else if (res.code == 0) {
                            var dataarr = res.data

                            if (dataarr.length == 0) {
                                return false;
                            } else {
                                $.each(dataarr, function (i, item) {
                                    //console.log(item.type)
                                    $('#btn' + (item.type - 1)).hide()
                                    $('#show' + (item.type - 1)).show().val("已开启，模板ID为：" + item.templateId)
                                    $("#del"+(item.type - 1)).css("display","inline-block").attr("did",item.id)
                                });
                            }
                        }
                    },
                    error: function () {
                        layer.close(loading)
                        layer.msg('请求服务器失败！！')
                    }
                });
            }

			$('.openbtn').each(function (index, item) {

				$(this).on('click', function () {
					var loading = layer.load(4)
					$.ajax({
						type: "post",
						url: link + "/admin/template/addTemplate.do",
						dataType: 'json',
						data: {
							channelNo: my_c_channel_no,
							type: index + 1
							//data:mydata
						},
						success: function (res) {
							layer.close(loading)
							checkToken(res.code)
							var thiscode = res.code;

							if (thiscode == 0) {
								layer.msg('提醒成功', {
									icon: 1,
									time: 1000 //1秒关闭（如果不配置，默认是3秒）
								}, function () {
									$("#btn" + index).hide();
									$($(".showid")[index]).show().val("已开启，模板ID为：" + res.data.template_id)
								});
							} else {
								layer.msg("开启失败：" + res.info)
								return false;
							}
						},
						error: function () {
							layer.close(loading)
							layer.msg('请求服务器失败！！')
						}
					})

				})

            })
            $('.delbtn').on('click', function () {

            //console.log(66666)
            var _id = $(this).attr('did');
            var id = $(this).attr('id');
            var thst=$(this);

            var confirm = layer.confirm('是否要删除?', {
                icon: 3,
                title: '提示'
            }, function (index) {
                //do something
                var mydata = JSON.stringify({
                    id: _id,
                    channelNo: my_c_channel_no
                })
                $.ajax({
                    url: link +'/admin/template/delete.do',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        ts: ts,
                        sign: sign,
                        id: _id,
                        token: mytoken
                    },
                    success: function (res) {
                        checkToken(res.code)
                        layer.close(confirm)

                        if (res.code == 0) {
                            //layer.closeAll();
                            $("#"+id).hide().siblings("input").val("").hide().siblings(".openbtn").show();
                            layer.msg('删除成功', {
                                icon: 1,
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                // var myact = $(
                                //     ".shoplist-tab li.layui-this"
                                // ).index();
                                // var pageSession =
                                //     sessionStorage
                                //         .getItem(
                                //             'newcutCurrPage'
                                //         )
                                // tabAjax(myact,
                                //     pageSession
                                // )
                               
                                doajax();
                            });

                        } else {
                            //console.log("删除失败：" + res.info)
                            layer.closeAll();
                        }
                    },
                    error: function () {
                        layer.msg('请求服务器失败！！')
                    }
                })

            });

            })


		})


    // var vms = new Vue({
    //     el: ".layui-fluid",
    //     data: {
    //         channelNo:queryUrlParam('channelNo'),
    //         links:link,
    //         imglink:imglink,
    //         list: [],
    //     },
    //     mounted: function() {
    //         this.getstatus();
    //     },
    //     methods: {
    //         getstatus:function(){
    //             var _this=this;
    //             var parem={
    //                 channelNo:my_c_channel_no
    //             }
    //             $.ajax({
    //                 url: link+'/admin/template/getTemplateList.do',
    //                 type: 'POST',
    //                 dataType: 'json',
    //                 data:parem,
    //             success: function(res) {
    //                 if(res.code==0){
    //                     $.each(res.data, function(i, list) {
    //                         if(list.type==1){
    //                             list.typetext="到账通知"
    //                         }
    //                     })
    //                     _this.list=res.data
    //                 }else{
    //                     // tips(res.info,1500)
    //                 }
    //             },
    //             })
    //         },

    //     }
    // });
</script>