<style>
        .addBtn {
            background: #fff;
            padding: 10px;
            display: flex;
            height: 72px;
            box-sizing: border-box
        }
        .imgitem img{
            width: 50px;
            height: 50px;
    
        }
        .x-body{
            margin-top: 10px;
        }
    </style>
    <div class="layui-card layadmin-header">
      <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>活动点充值</cite></a>
      </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">活动点充值充值</div>
                <div class="layui-card-body">
                    <div class="layui-form" wid100 lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">充值套餐</label>
                            <div class="layui-input-inline">
                                <select name="recharge" id="recharge" lay-filter="recharge">
                                    <option value="0">请选着套餐</option>
                                    <option value="1">1个点=30元</option>
                                    <option value="50">50个点=500元</option>
                                    <option value="10000">不限点1000元</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item inputnums" style="display: none">
                            <label class="layui-form-label">充值点数</label>
                            <div class="layui-input-inline">
                                <input type="number" name="cache" id="num"  value="" placeholder="请输入数字" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">(需支付：<span class="nums">30</span>元)</div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="sub" lay-submit lay-filter="set_system_email">微信支付</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="x-body">
        <table class="layui-table indrstry-table" lay-skin='line' style="display: none">
            <thead>
                <tr>
                    <th>账号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="tr-content">
    
            </tbody>
        </table>
    </div>
    <script>
        layui.use(['laydate', 'layer', 'form'], function () {
            var layer = layui.layer;
            var form = layui.form;
            var router = layui.router();
    
            var myid = router.search.id /// location.search.split('=')[1];
            //console.log(myid)
            form.render()
            // doAjax()
            //获取套餐
            var num=0;
            var parice=0
            form.on('select(recharge)', function (data) {
              num = data.value
                //console.log(data,999)
                if(num==1){
                    $(".inputnums").show();
                }else{
                    $(".inputnums").hide();
                }
                if(num==1){
                    price=parseInt(30*100)
                }else if(num==50){
                    price=parseInt(500*100)
                }else if(num==10000){
                    price=parseInt(1000*100)
                }

            })
            $("#num").keyup(function(){
                var val= $(this).val();
                if(isNaN(val)){
                    $(this).val("")
                }
                var $parent = $(this).parent();
                    if (val != null) {
                        //检查不能是小数
                        if (val.toString().split(".").length > 1) {
                            var errorMsg = '必须为整数.';
                            $parent.append('<p class="formtips onError">' + errorMsg + '</p>');
                            $(this).val("")
                            $('.onError').fadeOut(3000);
                            return false;
                        } else {}
                    }
               var moneys= parseInt($(this).val());
               num=moneys;
               var m=30;
               price=parseInt((moneys*m)*100)
               $(".nums").html(moneys*m)
            })
            function doAjax() {
    
                //渲染列表
                var mydata = JSON.stringify({
                    "channelNo": my_c_channel_no,
                    merchantId: myid
                })
                var loading = layer.load(4)
                $.ajax({
                    url: link + '/admin/admin/list.do',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        sign: sign,
                        ts: ts,
                        data: mydata,
                        token: mytoken
                    },
                    success: function (res) {
                        layer.close(loading)
                        // checkToken(res.code)
                        var dataarr = res.data;
                        //console.log(dataarr)
                        var html = '';
    
                        var roleCode = ''
                        if (dataarr.length == 0) {
                            //	$('.indrstry-table').hide();
                            html = '<p>暂无数据</p>'
                            $('.tr-content').html(html).find("p").css({"text-align":"center","padding":"20px"});
    
                        } else {
    
                            for (var i = 0; i < dataarr.length; i++) {
    
                                if (dataarr[i].roleCode == 0) {
                                    //店员
                                    roleCode = '店员'
    
                                } else {
                                    //店长
                                    roleCode = '店长'
    
                                }
    
                                html += '<tr>' +
    
                                    '<td>' + dataarr[i].account + '</td>' +
                                    '<td>' +
    
                                    '<a class="layui-btn layui-btn-danger layui-btn-sm delshopadmin-btn" data-id="' + dataarr[i].id +
                                    '" lay-event="del">删除</a>' +
                                    '</td>' +
    
                                    '</tr>'
    
                            }
    
                            $('.tr-content').html(html);
    
                            // //编辑
                            // $('.industryedit').on('click', function () {
                            // 	var _this = $(this);
                            // 	var _id = _this.attr('data-id');
    
                            // 	x_admin_show('编辑分类', 'addshopindustry.html?pid=' + _id, 400, 400)
    
                            // })
    
    
    
                            //删除
                            $('.delshopadmin-btn').off('click').on('click', function () {
    
                                var _id = $(this).attr('data-id');
    
                                var delconfirm = layer.confirm('是否要删除?', {
                                    icon: 3,
                                    title: '提示'
                                }, function (index) {
                                    //do something
                                    var mydata = JSON.stringify({
                                        id: _id,
                                        channelNo: my_c_channel_no
                                    })
                                    var loading = layer.load(4);
                                    $.ajax({
                                        url: link + '/admin/admin/delete.do',
                                        type: 'post',
                                        dataType: 'json',
                                        data: {
                                            ts: ts,
                                            sign: sign,
                                            data: mydata,
                                            token: mytoken
                                        },
                                        success: function (res) {
                                            layer.close(loading)
                                            checkToken(res.code)
                                            //console.log(res);
                                            if (res.code == 0) {
                                                layer.close(delconfirm);
                                                layer.msg('删除成功', {
                                                    icon: 1,
                                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                                }, function () {
                                                    //window.location.href = location.href;
                                                    doAjax()
                                                });
    
                                            } else {
                                                //console.log("删除失败：" + res.info)
                                                layer.closeAll();
                                            }
                                        },
                                        error: function () {
                                            layer.msg('请求服务器失败！！')
                                        }
                                    })
    
                                });
    
                            })
    
                        }
                    },
                    error: function () {
                        layer.msg('请求服务器失败！！')
                    }
                })
            }
            		//点提交按钮登录
		$(document).on("click", "#sub", function () {
			toSubmit();
		});

		function toSubmit() {
            var name = $('#recharge option:selected').text();
            var nums=$("#num").val();
            //console.log(num)
            if(num==1){
                if(nums==''){
                    layer.msg('请输入充值点数')
				    return false;
                }else{
                    num=parseInt(nums)
                }
            }
            //console.log(num,9898)
			if (num == 0) {
				layer.msg('请选择充值套餐')
				return false;
			}else {
				var dataObj = {
					name: name,
                    num:parseInt(num),
                    price:price,
					channelNo: my_c_channel_no
				}

				var mydata = JSON.stringify(dataObj)
				var loadicon = layer.load(4); //加载动画

				$.ajax({
					url: link + '/admin/ActivityPackage/buy.do',
					type: 'post',
					dataType: 'json',
					data: {
						name: name,
                        num:parseInt(num),
                        price:price,
                        channelNo: my_c_channel_no,
						ts: ts,
						sign: sign,
						token: mytoken
					},

					success: function (res) {
						checkToken(res.code)
						layer.close(loadicon)
						if (!res.code) {
							layer.msg('提交成功', {
								icon: 1,
								time: 1000 //1秒关闭（如果不配置，默认是3秒）
							}, function () {
                                layer.open({
                                    type: 1, 
                                    title:"扫码支付",
                                    content: '<div style="padding:30px;"><img src="'+imglink+res.data+'"/></div>' //这里content是一个普通的String
                                });
							});

						} else {
							layer.msg(res.info, {
								icon: 2,
								time: 2000
							});
						}

					},
					error: function (jqXHR, textStatus, errorThrown) {
						/*错误信息处理*/
						layer.close(loadicon);
						layer.msg('请求失败，原因：' + errorThrown + ',状态码：' + jqXHR.status);


					}

				});
			}


		}
    
        });
    </script>