<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">首页</a>
    <a><cite>新增管理员</cite></a>
  </div>
</div>
<div class="shop-manage-content" style="padding: 10px;">

	<div class="content-body" style="padding: 10px;background: #fff">

		<form class="layui-form layui-form-pane1">


			<div class="layui-form-item ">
				<label class="layui-form-label">
					<span class="star">*</span>账号:</label>
				<div class="layui-input-inline">
					<input id="account" type="text" name="account" placeholder="输入账号" class="layui-input jing">
				</div>
			</div>
			<div class="layui-form-item ">
				<label class="layui-form-label">
					<span class="star">*</span>密码:</label>
				<div class="layui-input-inline">
					<input id="password" type="text" name="password" lay-verify="required|title" placeholder="输入密码" 
					    class="layui-input jing">
				</div>
			</div>
		</form>

		<button class="layui-btn layui-btn-normal addmian" style="margin-left: 100px;">立即提交</button>
	</div>

</div>
<script type="text/javascript">
	layui.use(['layer', 'form'], function () {
		var form = layui.form
		var router = layui.router()
		form.render()
		// var myid = location.search.split('=')[1];
		// var myid = router.search.id;
		// //console.log(myid);
		//点提交按钮登录
		$('.addmian').off('click').on('click', function () {
			toSubmits();
			//console.log(222)
		});

		function toSubmits() {
			var account = $('#account').val();
			var password = $('#password').val();
			
			if (account == '') {
				layer.msg('账号不能为空')
				$('#account').focus()
				return false;
			} else if (password == '') {
				layer.msg('密码不能为空')
				$('#password').focus()
				return false;
			}
				var dataObj = {
					account: account,
					password: password,
					channelNo: my_c_channel_no
				}

				var mydata = JSON.stringify(dataObj)
				var loadicon = layer.load(4); //加载动画

				$.ajax({
					url: link + '/admin/admin/save.do',
					type: 'post',
					dataType: 'json',
					data: {
						data: mydata,
						ts: ts,
						sign: sign,
						token: mytoken
					},

					success: function (res) {
						checkToken(res.code)
						layer.close(loadicon)
						if (!res.code) {
							layer.msg('提交成功', {
								icon: 1,
								time: 1000 //1秒关闭（如果不配置，默认是3秒）
							}, function () {
								location.hash = '/set/siteadmin'
							});

						} else {
							layer.msg(res.info, {
								icon: 2,
								time: 2000
							});
						}

					},
					error: function (jqXHR, textStatus, errorThrown) {
						/*错误信息处理*/
						layer.close(loadicon);
						layer.msg('请求失败，原因：' + errorThrown + ',状态码：' + jqXHR.status);


					}

				});
			}
	})
</script>