*{
	box-sizing: border-box;
}
body {
	background: #fff;
	margin: 0;
	padding: 0;
	color: #262B2F;
}

.app {
	max-width: 414px;
	margin: 0 auto;
	background: #fff;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: url(../img/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.icon{
	width: 146px;
	height: 146px;
	display: block;
	margin: 181rem auto 0;
	z-index: 10;
}
.name{
	font-size: 30px;
	color: #fff;
	width: 100%;
	text-align: center;
	margin-top: 25rem;
}
.down{
	margin-top: 66rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 414px;
	
}
.android{
	width: 271px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: #fff;*/
	border-radius: 20px;
	color: #fff;
	font-size: 15px;
	border: 2px solid #fff;
}
.android img{
	width: 18px;
	height: 20px;
	margin-right: 8px;
}
.ios{
	margin-top: 25rem;
	width: 271px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: #4795EF;*/
	border-radius: 20px;
	color: #fff;
	font-size: 15px;
	border: 2px solid #fff;
}
.ios img{
	width: 18px;
	height: 20px;
	margin-right: 8px;
}