<title>留言列表</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">首页</a>
    <a><cite>领取/核销列表</cite></a>
  </div>
</div>
   <div class="layui-tab-content" id="wrap">
                <div class="layui-tab-item couponItem layui-show">
        <div style="background: #fff;margin: 10px 0" class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-block" style="margin-left: 0">
                            <select id="classifySel" name="role" lay-filter="classifySel">
                                <option value="-1">全部</option>
                                <option value="0">特等奖</option>
                                <option value="1">一等奖</option>
                                <option value="2">二等奖</option>
                                <option value="3">三等奖</option>
                                <option value="4">四等奖</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">搜索</label>
                        <div class="layui-input-block">
                            <input type="text" id="searchTxt" name="telphone" placeholder="输入用户昵称或手机号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="searchBtn" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="LAY-user-back-search">
                            筛选
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" >
                <div class="layui-tab-content buylist-tabcontent">

                    <div class="layui-tab-item layui-show">

                        <table class="layui-table" lay-skin="line">
                            <thead>
                                <tr>
                                    <th>领取时间</th>
                                    <th>用户昵称</th>
                                    <th>手机号</th>
                                    <th>奖项</th>
                                    <th>核销时间</th>
                                </tr>
                            </thead>
                            <tbody class="tr-content" id="tab0-shop">
                                
                            </tbody>
                        </table>
                        <div class="page" id="page">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

<script type="text/javascript">
 	layui.use(['laydate', 'layer',"form", 'laypage'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
		var layer = layui.layer;
		var laypage = layui.laypage;
        var router = layui.router();
        form.render()
		isLogin()

		var pageSession = sessionStorage.getItem('cutuseCurrPage')
		var listPage = pageSession ? pageSession : 1

		var myid = router.search.id //location.search.split('=')[1];
		var status = router.search.type //location.search.split('=')[1];
        
		var showstatus = '';
        form.on('select(classifySel)', function (data) {
            //console.log(data.value)
            doAjax(1)
        })
        $("#searchBtn").click(function(){
            doAjax(1)
        })
		doAjax(listPage)

		// $("#searchbtn").on("click", function () {
		// 	isSearch = true;
		// 	doAjax()
		// 	return false;
		// })

		function doAjax(mypage) {
            var type= $("#classifySel option:selected").val();
            var search= $("#searchTxt").val();
			var dataobj1 = {
				channelNo: my_c_channel_no,
                lotteryId: myid,
                search:search,
                status:status,
                type:type,
				page: mypage, //首次加载的页码
				pageSize: 10, //当前页显示条数


			}

			var mydata = JSON.stringify(dataobj1)
			$.ajax({
				url: link + '/admin/lotteryOrder/list.do',
				type: 'post',
				dataType: 'json',
				data: {
					data: mydata,
					ts: ts,
					sign: sign,
					token: mytoken
				},
				success: function (res) {
					checkToken(res.code)
					if (res.code != 0) {
						layer.msg('加载失败：' + res.info);
						return false;
					}

					var listdata = res.data.list;
					var paytime = '';

					var status;

					var checkbtn = 'inline-block';

					var phone = ''
					var createTime = ''
					var html = "";
					var isuse = ''
					var nickname = '';
					var gradetext = '';

					if (listdata.length) {
						//console.log('test')
						for (var i = 0; i < listdata.length; i++) {
							createtime = formatDate(new Date(listdata[i].createTime))
                            if(listdata[i].isCheck==0){
                                checkTime='/'
                            }else{
                                checkTime = formatDate(new Date(listdata[i].checkTime))
                            }
                            if(listdata[i].grade==0){
                                gradetext="特等奖"
                            }else if(listdata[i].grade==1){
                                gradetext="一等奖"
                            }else if(listdata[i].grade==2){
                                gradetext="二等奖"
                            }else if(listdata[i].grade==3){
                                gradetext="三等奖"
                            }else if(listdata[i].grade==4){
                                gradetext="四等奖"
                            }
							html += '<tr>' +
								'<td>' + createtime + '</td>' +
								'<td>' + listdata[i].nickName + '</td>' +
								'<td>' + listdata[i].tel + '</td>' +
								'<td>' + gradetext + '</td>' +
								'<td>' + checkTime + '</td>' +
								'</tr>'
						}
					} else {
						html = "暂无数据";
					}

					$("#tab0-shop").html(html);

	
					laypage.render({
						elem: "page",
						count: res.data.pageInfo.totalRecord, //totalNums
						layout: ['count', 'prev', 'page', 'next'],
						limit: 10,
						groups: 5, //连续显示分页数
						curr: mypage,
						jump: function (obj, first) {
							sessionStorage.setItem('cutuseCurrPage', obj.curr)

							if (!first) {
								var curr = obj.curr;

								doAjax(curr)
							}

						}
					})
				},
				error: function () {
					layer.msg('请求服务器失败！！')
				}
			});
		}

	});
</script>