 <title>编辑奖项</title>
 <style>
     .layui-table td{
         padding: 9px 6px;
     }
     [v-cloak]{
	display: none;
}
 </style>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">首页</a>
    <a><cite>编辑奖项</cite></a>
  </div>
</div>
 <div class="layui-tab-content" id="shomanageContent"  >
        <div class="layui-tab-item shopmanageItem layui-show">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" id="wrap" v-cloak>
                <div class="layui-tab-content buylist-tabcontent">

                    <div class="layui-tab-item layui-show">

                        <table class="layui-table" lay-skin="line">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th width=60>奖项名称</th>
                                    <th>奖项标题</th>
                                    <th width=60>优惠价</th>
                                    <th>每人最多中奖次数</th>
                                    <th>中奖条件<span style="color: red">(每人最少参与次数)</span></th>
                                    <th>总数量<span style="color: red">（输入-1为不限量）</span></th>
                                    <th>中奖概率<span style="color: red">(每项概率0-100)</span></th>
                                    <th v-if="list.length>0">剩余库存</th>
                                </tr>
                            </thead>
                            <tbody class="tr-content"  v-if="list.length>0">
                                <tr>
                                    <td><input class="layui-input" type="hidden"  :value="info.id"></td>
                                    <td>特等奖<input class="layui-input" type="hidden"  value="0"></td>
                                    <td><input class="layui-input" type="text" :value="info.name" placeholder="请输入名称" name="start"  ></td>
                                    <td><input class="layui-input" type="number" :value="info.price" placeholder="请输入优惠价" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info.luckyNum" placeholder="请输入每人中奖次数" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info.minTimes" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info.num" placeholder="请输入数量，输入0则不限量" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info.rate" placeholder="输入数字" name="" ></td>
                                    <td>{{info.num==-1?'不限量':info.stock}}</td>
                                </tr>
                                <tr>
                                     <td><input class="layui-input" type="hidden"  :value="info1.id"></td>
                                    <td>一等奖<input class="layui-input" type="hidden"  value="1"></td>
                                    <td><input class="layui-input" type="text" :value="info1.name" placeholder="请输入名称" name="start"  ></td>
                                    <td><input class="layui-input" type="number" :value="info1.price" placeholder="请输入优惠价" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info1.luckyNum" placeholder="请输入每人中奖次数" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info1.minTimes" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info1.num" placeholder="请输入数量，输入0则不限量" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info1.rate" placeholder="输入数字" name="" ></td>
                                    <td>{{info1.num==-1?'不限量':info1.stock}}</td>
                                </tr>
                                <tr>
                                     <td><input class="layui-input" type="hidden"  :value="info2.id"></td>
                                    <td>二等奖<input class="layui-input" type="hidden"  value="2"></td>
                                    <td><input class="layui-input" type="text" :value="info2.name" placeholder="请输入名称" name="start"  ></td>
                                    <td><input class="layui-input" type="number" :value="info2.price" placeholder="请输入优惠价" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info2.luckyNum" placeholder="请输入每人中奖次数" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info2.minTimes" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info2.num" placeholder="请输入数量，输入0则不限量" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info2.rate" placeholder="输入数字" name="" ></td>
                                    <td>{{info2.num==-1?'不限量':info2.stock}}</td>
                                </tr>
                                <tr>
                                     <td><input class="layui-input" type="hidden"  :value="info3.id"></td>
                                    <td>三等奖<input class="layui-input" type="hidden"  value="3"></td>
                                    <td><input class="layui-input" type="text" :value="info3.name" placeholder="请输入名称" name="start"  ></td>
                                    <td><input class="layui-input" type="number" :value="info3.price" placeholder="请输入优惠价" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info3.luckyNum" placeholder="请输入每人中奖次数" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info3.minTimes" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info3.num" placeholder="请输入数量，输入0则不限量" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info3.rate" placeholder="输入数字" name="" ></td>
                                    <td>{{info3.num==-1?'不限量':info3.stock}}</td>
                                </tr>
                                <tr>
                                    <td><input class="layui-input" type="hidden"  :value="info4.id"></td>
                                    <td>四等奖<input class="layui-input" type="hidden"  value="4"></td>
                                    <td><input class="layui-input" type="text" :value="info4.name" placeholder="请输入名称" name="start"  ></td>
                                    <td><input class="layui-input" type="number" :value="info4.price" placeholder="请输入优惠价" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info4.luckyNum" placeholder="请输入每人中奖次数" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info4.minTimes" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" :value="info4.num" placeholder="请输入数量，输入0则不限量" name="" ></td>
                                    <td><input class="layui-input" type="number"  :value="info4.rate" placeholder="输入数字" name="" ></td>
                                    <td>{{info4.num==-1?'不限量':info4.stock}}</td>
                                </tr>
                            </tbody>
                            <tbody class="tr-content"  v-if="list.length==0">
                                <tr>
                                    <td><input class="layui-input" type="hidden"  value=""></td>
                                    <td>特等奖<input class="layui-input" type="hidden"  value="0"></td>
                                    <td><input class="layui-input" type="text" placeholder="请输入名称" name="start"  ></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入优惠价" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入每人中奖次数" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数量，输入0则不限量" name=""  value="0"></td>
                                    <td><input class="layui-input" type="number" placeholder="输入数字" name="" ></td>
                                </tr>
                                <tr>
                                    <td><input class="layui-input" type="hidden"  value=""></td>
                                    <td>一等奖<input class="layui-input" type="hidden"  value="1"></td>
                                    <td><input class="layui-input" type="text" placeholder="请输入名称" name="start"  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入优惠价" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入每人中奖次数" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数量，输入0则不限量" name=""  value="0"></td>
                                    <td><input class="layui-input" type="number" placeholder="输入数字" name="" ></td>
                                </tr>
                                <tr>
                                    <td><input class="layui-input" type="hidden"  value=""></td>
                                    <td>二等奖<input class="layui-input" type="hidden"  value="2"></td>
                                    <td><input class="layui-input" type="text" placeholder="请输入名称" name="start"  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入优惠价" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入每人中奖次数" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数量，输入0则不限量" name=""  value="0"></td>
                                    <td><input class="layui-input" type="number" placeholder="输入数字" name="" ></td>
                                </tr>
                                <tr>
                                    <td><input class="layui-input" type="hidden"  value=""></td>
                                    <td>三等奖<input class="layui-input" type="hidden"  value="3"></td>
                                    <td><input class="layui-input" type="text" placeholder="请输入名称" name="start"  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入优惠价" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入每人中奖次数" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数量，输入0则不限量" name=""  value="0"></td>
                                    <td><input class="layui-input" type="number" placeholder="输入数字" name="" ></td>
                                </tr>
                                <tr>
                                    <td><input class="layui-input" type="hidden"  value=""></td>
                                    <td>四等奖<input class="layui-input" type="hidden"  value="4"></td>
                                    <td><input class="layui-input" type="text" placeholder="请输入名称" name="start"  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入优惠价" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入每人中奖次数" name=""  value=""></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数字" name="" ></td>
                                    <td><input class="layui-input" type="number" placeholder="请输入数量，输入0则不限量" name=""  value="0"></td>
                                    <td><input class="layui-input" type="number" placeholder="输入数字" name="" ></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;"><button class="layui-btn layui-btn-normal layui-btn-lg admin-submit-btn" @click="sublist" lay-submit lay-filter="*">立即提交</button></div>
                    </div>
                </div>
            </div>
            <!-- <div class="page" id="page">
            </div> -->

        </div>
    </div>

<script type="text/javascript">
layui.use(['laydate', 'layer', 'laypage', 'element', 'form', 'admin'], function () {
        var laydate = layui.laydate;
        var layer = layui.layer;
        var laypage = layui.laypage;
        var element = layui.element;
        var form = layui.form;
        var admin = layui.admin
        var $ = layui.$;
        var view = layui.view;
        var router = layui.router()
        form.render();

        var myid = router.search.id//location.search.split('=')[1];
        //console.log(myid)

    new Vue({
    el:'#wrap',
    data:{
        list:[],
        length:20,
        info:{},
        info1:{},
        info2:{},
        info3:{},
        info4:{},
        index:0,
        imglink:imglink,
        token:'',
        channelNo:''
    },
    mounted:function(){
        this.token=localStorage.getItem("token");
        this.channelNo=localStorage.getItem("channelNo")
        this.getlist();
    },
    methods:{
        getlist:function(){
            var that=this;
           var mydata = JSON.stringify({
                channelNo: this.channelNo,
                lotteryId:myid
            })
            var loading = layer.load(4)

           $.ajax({
                url: link + '/admin/lotteryAwards/list.do',
                type: 'post',
                dataType: 'json',
                data: {
                    data: mydata,
                    ts: ts,
                    sign: sign,
                    token: that.token
                },
                success: function (res) {
                    layer.close(loading)
                    checkToken(res.code)
                    if (res.code == 0) {
                        // //console.log(res.data.)
                        if(res.data.length>0){
                            that.info = res.data[0];
                            that.info1 = res.data[1];
                            that.info2 = res.data[2];
                            that.info3 = res.data[3];
                            that.info4 = res.data[4];
                            that.list=res.data;
                        }else{
                            that.list=res.data;
                        }
                    }
                },
                error: function () {
                    layer.close(loading)
                    layer.msg('请求服务器失败！！')
                }
            })
        },
        sublist:function(){
            var that=this;
            var channelNo=that.channelNo

            var list=[]
            $(".tr-content tr").each(function(ids){
                var arr=[]
                var obj={};
                $(this).find("td").each(function(ind,val){
                    //console.log($(this).find("input").val())
                    //console.log(ind,66)
                    arr.push($(this).find("input").val())
                })
                //console.log(arr)
                obj.id=arr[0]
                obj.grade=arr[1];
                obj.name=arr[2];
                obj.price=arr[3];
                obj.luckyNum=arr[4];
                obj.minTimes=arr[5];
                obj.num=arr[6];
                obj.rate=arr[7];
                obj.channelNo=channelNo;
                obj.lotteryId=myid;
                list.push(obj);
            })
            var allprize=0
            for(var i=0;i<list.length;i++){
                if(list[i].name==''){
                    layer.msg('第'+(i+1)+'条奖项标题不能为空');
				    return false;
                }
                // allprize=parseInt(list[i].rate)+allprize
            }
            if(list.length!=5){
                layer.msg('请填写完奖项');
				return false;
            }
            //console.log(allprize)
            //console.log(list)
            // if(allprize>100){
			// 	layer.msg('合计概率不能大于100');
			// 	return false;
			// }
            var mydata = JSON.stringify(list)
                var loading = layer.load(4)
                $.ajax({
                    type: "post",
                    url: link + '/admin/lotteryAwards/save.do',
                    async: true,
                    dataType: 'json',
                    data: {
                        data: mydata,
                        ts: ts,
                        sign: sign,
                        token: mytoken
                    },
                    success: function (res) {
                        layer.close(loading)
                        checkToken(res.code)

                        if(res.code==0){
                            layer.msg('保存成功', {
								icon: 1,
								time: 1000 //1秒关闭（如果不配置，默认是3秒）
							}, function () {
								that.getlist();

							});
                            
                        }

                    },
                    error: function () {
                        layer.close(loading)
                        layer.msg('请求服务器失败！！')
                    }
                })
        }
    }
    })
})
</script>