<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=750, maximum-scale=1.0, user-scalable=no"/>
		
			
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<title></title>
		<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/home.css" />
		<link rel="stylesheet" type="text/css" href="../css/photodetails.css" />
	</head>

	<body>
		<div class="nav">
			<img src="../img/icon/logo.png" />
			<div class="head">
				<span class="home" style="color: rgba(241,108,43,0.84);">首页</span><span class="order">门店介绍</span><span class="about">关于我们</span>
			</div>
		</div>
		<div class="container-fluid photoshow-con">
			<div class="head1">
				<img src="../img/icon/icon_fuzhu.png" />
				<span class="name" style="margin: 0 10px;"></span>
				<img src="../img/icon/icon_fuzhu.png" />
			</div>
		</div>
		<div class="container-fluid photoshow-con">
			<div class="row cbody">
				<div class="col-xs-12 xl">
				</div>
				
			</div>
		</div>
		<div class="btn">
			<p>点击下单/联系客服</p>
		</div>
		<div class="ad">
			<img class="erweima" src="" alt="" />
			<div class="admsg">
				<label class="phone"></label>
			</div>
		</div>
		<script src="../package/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/photodetails.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>