<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta name="viewport" content="width=375, maximum-scale=1.0, user-scalable=no"/>
		
		<title></title>
		<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<!--<link rel="stylesheet" type="text/css" href="../css/home.css" />-->
		<link rel="stylesheet" type="text/css" href="../css/storedetails.css" />
	</head>

	<body>
		<div class="nav">
			<img src="../img/icon/logo.png" />
			<div class="head">
				<span class="home">首页</span><span style="color: rgba(241,108,43,0.84);" class="order">门店介绍</span><span class="about">关于我们</span>
			</div>
		</div>
		<div class="container-fluid photoshow-con">
			<!--<div class="head1">
				<span>&nbsp;&nbsp;印象宝贝东莞南城店&nbsp;&nbsp;</span>
			</div>-->
		</div>

		<div class="container-fluid">
			<div class="row msgbody" style="padding: 20px;">
				<!--<p style="text-align: left;">&nbsp; &nbsp; &nbsp; kang</p><p><img src="https://yxbaby.oss-cn-shenzhen.aliyuncs.com/ja5d7yzxTA6nwHMcdnnGSi.png" style="max-width:100%;"><br></p><p><br></p>-->
				<!--<div class="col-xs-12">
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东莞市南城印象宝贝儿童摄影店办公室地址位于珠江
							口东岸，广东历史文化名城东莞，东莞 东莞市南城区新城
							菊香苑35幢202B，于2011年04月18日在东莞市工商行政
							管理局注册成立，在店铺发展壮大的8年里，我们始终为
							客户提供好的产品和技术支持、健全的售后服务，我店铺
							主要经营摄影服务。
					</label>
				</div>
				<div class="col-xs-12 col-md-4 col-sm-6">
					<div>
						<img src="../img/icon/banner_aboutus.png" />

					</div>
				</div>
				<div class="col-xs-12 col-md-4 col-sm-6">
					<div>
						<img src="../img/icon/banner_aboutus.png" />

					</div>
				</div>-->
			</div>

		</div>
		<script src="../package/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/storedetails.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>