.list{
	padding: 0 .15rem;
}
.addcard{
	position: absolute;
	right: .15rem;
	width: .20rem;
	height: .20rem;
}

.head{
	background-color: white;
	height: .64rem;
	display: flex;
	align-items: center;
	padding: 0 .20rem;
}

.head .left{
	background-color: #EDEDED;
	border-radius: .05rem;
	display: flex;
	align-items: center;
	height: .34rem;
	position: relative;
	width: 100%;
}
.line_s{
	height: .08rem;
	width: 100%;
	background-color: #EDEDED;
}
.head .left .name{
	width: .68rem;
	text-align: center;
	flex-shrink: 0;
	font-size: .15rem;
	line-height: .16rem;
	border-right: .01rem solid #E0E0E0;
	color: #7E7E7E;
}
.head .left .select{
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	
}
.head .left .select div{
	line-height: .30rem;
	font-size: .15rem;
	width: 100%;
	text-align: center;
}
.head .left .select select{
	position: absolute;
	line-height: .30rem;
	width: 100%;
	opacity: 0;
}
.head .left .select img{
	width: .12rem;
	height: .06rem;
	margin-right: .08rem;
}
.head .right{
	width: .50rem;
	line-height: .34rem;
	font-size: .15rem;
	background-color: #FFB300;
	border-radius: .05rem;
	text-align: center;
	color: white;
	flex-shrink: 0;
	margin-left: .08rem;
}
.content{
	width: 100%;
	
	/*background-color: red;*/
}
.content .item{
	padding: 0 .15rem .15rem;
	background-color: #fff;
	margin-top: .10rem;
	border-radius: .10rem;
}
.row_line{
	width: 100%;
	height: .01rem;
	margin-top: .15rem;
	background-color: #EDEDED;
}
.content .item .row{
	padding-top: .15rem;
	display: flex;
	justify-content: space-between;
	font-size: .17rem;
	align-items: center;
}
.content .item .row div:nth-of-type(2){
	color: #FC0C0C;
	font-size: .15rem;
}
.content .item .row2{
	margin-top: .16rem;
	display: flex;
	justify-content: space-between;
	font-size: .17rem;
	align-items: center;
}
.content .item .row2 img{
	width: .34rem;
	height: .22rem;
	display: block;
}
.content .item .row3{
	margin-top: .16rem;
	display: flex;
	justify-content: space-between;
	font-size: .15rem;
	line-height: .21rem;
}
.content .item .row3 div{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.content .item .row3 div span{
	display: block;
}
.content .item .row3 div span:nth-of-type(1){
	color: #7E7E7E;
	word-break: keep-all;
}
.content .item .row3 div span:nth-of-type(2){
	word-break: break-all;
}
.content .item .row4{
	margin-top: .16rem;
	display: flex;
	justify-content: space-between;
	font-size: .15rem;
	/*align-items: center;*/
	color: #7E7E7E;
}
.content .item .row4 img{
	width: 1.00rem;
	height: 1.00rem;
	display: block;
	border-radius: .05rem;
}
.content .btn_group{
	display: flex;
	justify-content: flex-end;
	/*padding: 0 .20rem;*/
	margin: .15rem 0 0;
	
	
}
.content .btn_group div{
	width: .90rem;
	height: .35rem;
	line-height: .35rem;
	text-align: center;
	font-size: .15rem;
	border-radius: .08rem;

}
.content .btn_group div:nth-of-type(1){
	margin-right: .08rem;
	border: .01rem solid #FFB300;
	color: #FFB300;
}
.content .btn_group div:nth-of-type(2){
	background-color: #FFB300;
	color: #fff;
}
.btn{
	margin: .15rem 0 0;
	/*padding: 0 .20rem .16rem;*/
	display: flex;
	justify-content: flex-end
}
.btn div{
	width: .90rem;
	height: .35rem;
	line-height: .35rem;
	text-align: center;
	font-size: .15rem;
	border-radius: .08rem;
	background-color: #FFB300;
	color: #fff;
}
