<script type="text/html" template>
	<link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

	<div class="layadmin-user-login-main">
		<div class="layadmin-user-login-box layadmin-user-login-header">
			<h2>登录</h2>
			<!-- <p>layui 官方出品的单页面后台管理模板系统</p> -->
		</div>
		<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
			<div class="layui-form-item">
				<label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
				<input type="text" name="account" id="username" lay-verify="" placeholder="用户名" class="layui-input">
			</div>
			<div class="layui-form-item">
				<label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
				<input type="password" name="password" id="psw" lay-verify="required" placeholder="密码" class="layui-input">
			</div>
			<div class="layui-form-item">
				<div style="margin-left: 22%;" id="gw">
					<input style="" type="radio" name="sex" value="1" title="微官网">
					<input style="" disabled="disabled" type="radio" name="sex" value="2" title="小程序">
				</div>
			</div>
			<div class="layui-form-item">
				<button class="layui-btn layui-btn-fluid loginbtn" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
			</div>

		</div>
	</div>
</div>
<script>
	layui.use(['admin', 'form', 'user'], function() {
		var $ = layui.$,
			setter = layui.setter,
			admin = layui.admin,
			form = layui.form,

			router = layui.router(),
			search = router.search;
		form.render();
		// let link = common.link

		$(".loginbtn").on('click', function(param) {
			tologin();
			//console.log(111, '22')
		})
		//console.log(link,99999)
		// 按回车登录
		// $("body").keyup(function (event) {
		//   if (event.keyCode == "13") {
		//     tologin();
		//   }
		// })

		function tologin() {
			var account = $("#username").val();
			var passwd = $("#psw").val();
			var val = $('input[name="sex"]:checked').val();
			sessionStorage.setItem("val", val)
			
			if(account == '') {
				$("#username").focus();
				layer.tips('账号不能为空', '#username');
				return false;
			} else if(passwd == '') {
				$("#psw").focus();
				layer.tips('密码不能为空', '#psw');
				return false;
			} else if(val == undefined){
				layer.tips('选择项不能为空','#gw');
				return false;
			} else {
				var param = {
					account: account,
					password: passwd
				}
				var mydata = JSON.stringify(param)
				$.ajax({
					url: link+ "/login?account="+account+"&pwd="+passwd,
					type: 'get',
					dataType: 'json',
//					data: {
//						account: account,
//						password: passwd
//					},
					success: function(res) {
						console.log(res);
						if(0==res.err_code) {
							layer.msg('登入成功', {
								offset: '15px',
								icon: 1,
								time: 1000
							}, function() {
								var data = JSON.stringify(res.data);
								//              localStorage.setItem('newppqLogin', data);
								//              localStorage.setItem('account', res.data.account);
								//              localStorage.setItem('token', res.data.token);
								//              localStorage.setItem('channelNo', res.data.channelNo);
								//console.log(search.redirect)
								//本地存储服务器返回的token
								//            	layui.sessionData("token", res.data.token)
								sessionStorage.setItem("account", account)
								sessionStorage.setItem("token", res.data.token)

								location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/brand/brand';
							});
						} else {
							layer.msg(res.err_msg, {
								icon: 2,
								time: 2000
							});
						}
					},
					error: function(xhr, errText, errThrom) {
						layer.msg('请求失败，原因：' + errText);
					}
				});
			}
		}

		//实际使用时记得删除该代码
		// layer.msg('为了方便演示，用户名密码可随意输入', {
		//   offset: '15px'
		//   ,icon: 1
		// });

	});
</script>