<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=750, maximum-scale=1.0, user-scalable=no"/>
		
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<title></title>
		<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/home.css" />
		<link rel="stylesheet" type="text/css" href="../css/about.css" />
	</head>

	<body>
		<div class="nav">
			<img src="../img/icon/logo.png" />
			<div class="head">
				<span class="home">首页</span><span class="order">门店介绍</span><span style="color: rgba(241,108,43,0.84);">关于我们</span>
			</div>
		</div>
		<img class="aboutme" src="../img/icon/banner_aboutus.png" alt="" />
		<div class="msg">
			<lable>印象宝贝于2002年成立，在广州（总部）、佛山、东莞、中山 、惠州华南地区多个城市拥有多家自营门店，是中国华南地区最大的儿童摄影机构。</lable>
			<br />
			<lable>荣获“中国十大杰出儿童摄影企业”的称号，<br />
					被广东儿童艺术促进会评选为“爱心单位”。<br />
					并被中国儿童摄影协会评选为“诚信与标准化示范企业”。
			</lable>
			<br />
			<lable>印象宝贝的摄影作品多次在人像摄影大赛中获得奖项。</lable>
		</div>
		<div class="ad">
			<img class="erweima" src="" alt="" />
			<div class="admsg">
				<label class="phone"></label>
			</div>
		</div>
		<script src="../package/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/about.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>