<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=375, maximum-scale=1.0, user-scalable=no" />

		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<!--<title>首页</title>-->
		<!--<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="../css/orderdetails.css"/>-->
		<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
	</head>

	<body>
		<div class="content">
			<div class="nav">
				<img class="btnback" src="../img/order/back.png" />
				<h4>基本资料</h4>
			</div>
			<div style="width: 100vw;height: 54px;margin: 0;"></div>

			<div style="margin: 0 8px;box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading " role="tab" id="headingOne">
						<h4 class="panel-title" style="position: relative;">
						<a style="width: 100%;display: block;text-decoration: none;" role="button" data-toggle="collapse" data-parent="" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							开单资料
						</a>
						<img class="one" style="position: absolute;bottom: 0;right: 0;" src="../img/order/up.png"/>
						
					</h4>
					</div>
					<div data-w="one" id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<ul class="list-group">
							<li class="list-group-item"><span>客户编号</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>消费类型</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>预约日期</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>宝宝姓名</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>宝宝性别</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>宝宝年龄</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>农历生日</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>公历生日</span><span style="margin-left: 30px;">YY007</span></li>

						</ul>
					</div>
				</div>
				<div style="margin: 0;" class="panel panel-default">
					<div class="panel-heading " role="tab" id="headingOne">
						<h4 class="panel-title" style="position: relative;">
						<a style="width: 100%;display: block;text-decoration: none;" role="button" data-toggle="collapse" data-parent="" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							家长信息
						</a>
						<img class="two" style="position: absolute;bottom: 0;right: 0;" src="../img/order/up.png"/>
					</h4>
					</div>
					<div data-w="two" id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<ul class="list-group">
							<li class="list-group-item"><span>父亲姓名</span><span style="margin-left: 30px;">YY007</span></li>
							<li class="list-group-item"><span>父亲手机</span><span style="margin-left: 30px;">YY007</span></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../package/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../package/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('#collapseTwo').on('hide.bs.collapse', function() {
				var name = "." + $(this).data('w');
				$(name).attr("src", '../img/order/down.png')
			})
			$('#collapseTwo').on('show.bs.collapse', function() {
				var name = "." + $(this).data('w');
				$(name).attr("src", '../img/order/up.png')
			})
			$('#collapseOne').on('hide.bs.collapse', function() {
				var name = "." + $(this).data('w');
				$(name).attr("src", '../img/order/down.png')
			})
			$('#collapseOne').on('show.bs.collapse', function() {
				var name = "." + $(this).data('w');
				$(name).attr("src", '../img/order/up.png')
			})
		</script>
	</body>

</html>