<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=375, maximum-scale=1.0, user-scalable=no" />

		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<!--<title>首页</title>-->
		<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/orderdetails.css"/>
	</head>

	<body>
		<div class="nav">
			<!--<img src="../img/order/back.png"/>-->
			<h4>首页</h4>
		</div>
		<div style="width: 100vw;height: 44px;margin: 0;"></div>
		<label class="title" for="">订单详细</label>
		<div>
			<div class="col-xs-4 piece" onclick="goto()">
				<img src="../img/order/icon_ziliao.png"/>
				<label for="">基本资料</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_shangpin.png"/>
				<label for="">会员商品</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_mingxi.png"/>
				<label for="">付款明细</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_sheying.png"/>
				<label for="">摄影流程</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_qujian.png"/>
				<label for="">取件流程</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_dianpin.png"/>
				<label for="">客户点评</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_du.png"/>
				<label for="">先睹为快</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_weixin.png"/>
				<label for="">绑定微信</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_xiazhai.png"/>
				<label for="">底片下载</label>
			</div>
		</div>
		<label class="title" for="">VIP详细</label>
		<div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_vipxinxi.png"/>
				<label for="">VIP信息</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_jifenjilv.png"/>
				<label for="">积分记录</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_vipxiaofei.png"/>
				<label for="">VIP消费</label>
			</div>
			<div class="col-xs-4 piece">
				<img src="../img/order/icon_chonzhi.png"/>
				<label for="">充值记录</label>
			</div>
		</div>
		<script src="../package/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/DDhome.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>