<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=750, maximum-scale=1.0, user-scalable=no"/>
		
			
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<title></title>
		<link rel="stylesheet" type="text/css" href="../package/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/home.css" />
		<link rel="stylesheet" type="text/css" href="../css/storefront.css" />
	</head>

	<body>
		<div class="nav">
			<img src="../img/icon/logo.png" />
			<div class="head">
				<span class="home">首页</span><span style="color: rgba(241,108,43,0.84);">门店介绍</span><span class="about">关于我们</span>
			</div>
		</div>
		<div class="container-fluid photoshow-con">
			<div class="head1">
				<img src="../img/icon/icon_fuzhu.png" />
				<span>&nbsp;&nbsp;印象宝贝门店介绍&nbsp;&nbsp;</span>
				<img src="../img/icon/icon_fuzhu.png" />
			</div>
		</div>
		<div class="container-fluid">
			<div class="row md">
			</div>
			
		</div>
		<script src="../package/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/storefront.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>