<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>个人中心</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/me.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />

	</head>

	<body>
		<div class="app">
			<div class="bg">
				<div class="bg_navigationBar">
					<div class="title center color_font">个人中心</div>
				</div>
				<div class="search">
					<div class="usermsg">
						<img src="../img/bg1.png" />
						<div class="msg">
							<div>野原新之助</div>
							<div>账号：29347982734982</div>
							<div>手机号：29347982734982</div>
							<div>邀请码：29347982734982</div>
						</div>
					</div>
				</div>
			</div>
			<div class="body">
				<div class="title">
					<img src="../img/me11.png" />
					<div>账户信息</div>
				</div>
				<div class="row">
					<div class="item">
						<div>22342342</div>
						<div>冻结中的币</div>
					</div>
					<div class="item">
						<div>2r2342342</div>
						<div>交易中的币</div>
					</div>
					<div class="item">
						<div>2r2342342</div>
						<div>可用余额(元)</div>
					</div>
				</div>
				<div class="row">
					<div class="item">
						<div>222</div>
						<div>押金</div>
					</div>
					<div class="item">
						<div>0</div>
						<div>总币量</div>
					</div>
					<div class="item">
					</div>
				</div>
			</div>
			<div class="body">
				<div class="title">
					<img src="../img/me12.png" />
					<div>利润和账单</div>
				</div>
				<div class="row">
					<div class="item">
						<div>22342342</div>
						<div>今日总利润</div>
					</div>
					<div class="item">
						<div>2r2342342</div>
						<div>今日订单总额</div>
					</div>
					<div class="item">
						<div>2r2342342</div>
						<div>成功订单总量</div>
					</div>
				</div>
				<div class="row">
					<div class="item">
						<div>222</div>
						<div>今日成功率</div>
					</div>
					<div class="item">
						<div>0</div>
						<div>今日总分成</div>
					</div>
					<div class="item">
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="item">
					<img src="../img/me8.png" alt="" />
					<div class="right">
						<div>会员中心</div>
						<img src="../img/right.png" alt="" />
					</div>
				</div>
				<div class="item">
					<img src="../img/me4.png" alt="" />
					<div class="right">
						<div>OTO订单列表</div>
						<img src="../img/right.png" alt="" />
					</div>
				</div>
				<div class="item">
					<img src="../img/me6.png" alt="" />
					<div class="right">
						<div>币钱包</div>
						<img src="../img/right.png" alt="" />
					</div>
				</div>
				<div class="item">
					<img src="../img/me7.png" alt="" />
					<div class="right">
						<div>修改登录密码</div>
						<img src="../img/right.png" alt="" />
					</div>
				</div>
				<div class="item">
					<img src="../img/me9.png" alt="" />
					<div class="right">
						<div>修改二级密码</div>
						<img src="../img/right.png" alt="" />
					</div>
				</div>
				<div class="login_out">退出登录</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>