<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>资金记录</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/moneyRecord.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />

	</head>

	<body>
		<div class="app">
			<div class="bg">
				<div class="navigationBar">
					<img class="back" src="../img/back_w.png" />
					<div class="title left">资金记录</div>
				</div>
				<div class="search">
					<div class="item">
						<div class="title">资金类型</div>
						<select name="">
							<option value="">1</option>
							<option value="">2</option>
						</select>
					</div>

					<div class="btn_bg btn_search">确认</div>
				</div>
			</div>
			<div class="content">
				<div class="order_status">
					<div class="item" onclick="status('.TDorder')">
						<div class="change change1">全部
							<br />
							<span class="TDorder"></span>
						</div>
					</div>
					<div class="item" onclick="status('.TXorder')">
						<div class="change change2">转账
							<br />
							<span class="TXorder"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content_list TDorder">
				<div class="row">
						<div class="item1">资金类型</div>
						<div class="item2">原有金额</div>
						<div class="item3">变动金额</div>
						<div class="item4">现有金额</div>
						<div class="item5">下单时间</div>
					</div>
					<div class="row2">
						<div class="item1">2323423</div>
						<div class="item2">9244.00</div>
						<div class="item3">0.2300</div>
						<div class="item4">+2342.00</div>
						<div class="item5">2020-20-20 10:10:10</div>
					</div>
					<div class="line_m"></div>
					<div class="row2">
						<div class="item1">2323423423423</div>
						<div class="item2">9244.00</div>
						<div class="item3">0.2300</div>
						<div class="item4">+2342.00</div>
						<div class="item5">2020-20-20 10:10:10</div>
					</div>
					<div class="line_m"></div>
					<div class="row2">
						<div class="item1">2323423423423</div>
						<div class="item2">9244.00</div>
						<div class="item3">0.2300</div>
						<div class="item4">+2342.00</div>
						<div class="item5">2020-20-20 10:10:10</div>
					</div>
					<div class="line_m"></div>
			</div>
			<div class="content_list TXorder">
				<div class="item">
					<div class="row1">
						<img src="../img/bg.png" />
						<div class="center">
							<div class="top">变动金额</div>
							<div class="bottom">
								<div></div>
								<div>22393f82.00</div>
								<div></div>
							</div>
						</div>
						<img src="../img/bg.png" />
					</div>
					<div class="row2">
						<div>会员账号</div>
						<div>对应会员账号</div>
					</div>
					<div class="row3">
						<div>2123234234234</div>
						<div>sdf2342342sdf</div>
					</div>
					<div class="row4">
						<div>转账时间</div>
						<div>9283749273948729834</div>
					</div>
					<div class="row4">
						<div>备注</div>
						<div>无</div>
					</div>
				</div>
				<div class="item">
					<div class="row1">
						<img src="../img/bg.png" />
						<div class="center">
							<div class="top">变动金额</div>
							<div class="bottom">
								<div></div>
								<div>293f82</div>
								<div></div>
							</div>
						</div>
						<img src="../img/bg.png" />
					</div>
					<div class="row2">
						<div>会员账号</div>
						<div>对应会员账号</div>
					</div>
					<div class="row3">
						<div>2123234234234</div>
						<div>sdf2342342sdf</div>
					</div>
					<div class="row4">
						<div>转账时间</div>
						<div>9283749273948729834</div>
					</div>
					<div class="row4">
						<div>备注</div>
						<div>无</div>
					</div>
				</div>
			</div>
			
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('.TDorder').css('display', 'block')
			$('.change1').css('color', '#FC660C')

			function status(e) {
				$('.TDorder').css('display', 'none')
				$('.TXorder').css('display', 'none')
				$('.change1').css('color', '#AFAFAF')
				$('.change2').css('color', '#AFAFAF')
				if('.TDorder' == e) {
					$('.change1').css('color', '#FC660C')
					$('.TDorder').css('display', 'block')
				} else if('.TXorder' == e) {
					$('.change2').css('color', '#FC660C')
					$('.TXorder').css('display', 'block')
				}
			}
		</script>
	</body>

</html>