<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>提现订单</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/orderTX.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />

	</head>

	<body>
		<div class="app">
			<div class="bg">
				<div class="navigationBar">
					<img class="back" src="../img/back_w.png" />
					<div class="title left">提现订单</div>
				</div>
				<div class="search">
					<div class="item">
						<div class="title">选择状态</div>
						<select name="">
							<option value="">1</option>
							<option value="">2</option>
						</select>
					</div>
					<div class="item">
						<div class="title">搜索订单号</div>
						<div class="order_input" style="display: flex;">
							<div style="">输入订单号</div>
							<input type="" name="" id="" value="" placeholder="" />
						</div>
					</div>
					<div class="btn_bg btn_search">确认</div>
				</div>
			</div>
			<div class="code">
				<div class="item">
					<div class="row">
						<div class="key">交易类型：xxx</div>
						<div>订单失败</div>
					</div>
					<div class="row3">
						<div class="key">收款姓名：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">会员账号：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">提现金额：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">收款卡号：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">收款银行：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">营业网点</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">提现时间：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row3">
						<div class="key">审核状态：</div>
						<div class="val">沃尔沃</div>
					</div>
					<div class="row4">
						<div class="key">支付凭证</div>
						<img src="../img/bg.png" />
					</div>
					<div class="btn">
						<div class="left">申诉</div>
						<div class="right">确认收款</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('.TDorder').css('display', 'block')
			$('.change1').css('color', '#FC660C')

			function status(e) {
				$('.TDorder').css('display', 'none')
				$('.TXorder').css('display', 'none')
				$('.change1').css('color', '#AFAFAF')
				$('.change2').css('color', '#AFAFAF')
				if('.TDorder' == e) {
					$('.change1').css('color', '#FC660C')
					$('.TDorder').css('display', 'block')
				} else if('.TXorder' == e) {
					$('.change2').css('color', '#FC660C')
					$('.TXorder').css('display', 'block')
				}
			}
		</script>
	</body>

</html>