<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>OTC订单</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/orderOTO.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />

	</head>

	<body>
		<div class="app">
			<div class="bg">
				<div class="navigationBar">
					<img class="back" src="../img/back_w.png" />
					<div class="title left">OTC订单</div>
				</div>
				<div class="search">
					<div class="item">
						<div class="title">选择状态</div>
						<select name="">
							<option value="">1</option>
							<option value="">2</option>
						</select>
					</div>
					<div class="item">
						<div class="title">搜索订单号</div>
						<div class="order_input" style="display: flex;">
							<div style="">输入订单号</div>
							<input type="" name="" id="" value="" placeholder="" />
						</div>
					</div>
					<div class="btn_bg btn_search">确认</div>
				</div>
			</div>
			<div class="list">
				<div class="change1">
					<div class="item" onclick="btn_change('1')">
						<div class="name1">通道订单
							<!--<div class="po1 point"></div>-->
							<div class="po1 point_num">2</div>
						</div>
						<div class="line_1"></div>
					</div>
					<div class="item" onclick="btn_change('2')">
						<div class="name2">提现订单
							<div class="po2 point"></div>
							<!--<div class="po2 point_num">2</div>-->
						</div>
						<div class="line_2"></div>
					</div>
					<div class="item" onclick="btn_change('3')">
						<div class="name3">充值订单
							<!--<div class="po3 point"></div>-->
							<div class="po3 point_num">2</div>
						</div>
						<div class="line_3"></div>
					</div>
					<div class="item" onclick="btn_change('4')">
						<div class="name4">提现审核
							<!--<div class="po4 point"></div>-->
							<div class="po4 point_num">2</div>
						</div>
						<div class="line_4"></div>
					</div>
				</div>
				<div class="o_list order1">
					<div class="code">
						<div class="item">
							<div class="row">
								<div class="key">交易类型：xxx</div>
								<div class="color_o">订单失败</div>
							</div>
							<div class="row3">
								<div class="key">会员账号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">订单金额：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">下单时间：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="btn_delete">确认收款</div>
						</div>
					</div>
				</div>
				<div class="o_list order2">
					<div class="code">
						<div class="item">
							<div class="row">
								<div class="key">交易类型：xxx</div>
								<div>订单失败</div>
							</div>
							<div class="row3">
								<div class="key">收款姓名：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">会员账号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">提现金额：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">收款卡号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">收款银行：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">营业网点：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">提现时间：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">审核状态：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row4">
								<div class="key">支付凭证</div>
								<img src="../img/bg.png" />
							</div>
							<div class="row5">交易成功 10:50:32</div>
							<div class="row6">请及时确认订单，如未收到款请申诉</div>
							<div class="btn">
								<div class="left">申诉</div>
								<div class="right">确认收款</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="key">交易类型：xxx</div>
								<div class="color_g">订单失败</div>
							</div>
							<div class="row3">
								<div class="key">收款姓名：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">会员账号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">提现金额：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">收款卡号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">收款银行：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">营业网点：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">提现时间：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">审核状态：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">
									<nobr>拒绝理由：</nobr>
								</div>
								<div class="val">无拉手机登录开发接口老实交代弗兰克金坷垃撒地方极乐空间阿斯达六块腹肌卢卡斯京东方克拉斯江东父老看 </div>
							</div>
						</div>
					</div>
				</div>
				<div class="o_list order3">
					<div class="code">
						<div class="item">
							<div class="row">
								<div class="key">交易类型：xxx</div>
								<div class="color_o">订单失败</div>
							</div>
							<div class="row3">
								<div class="key">会员账号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">订单金额：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">下单时间：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row4">
								<div class="key">支付凭证</div>
								<img src="../img/bg.png" />
							</div>
							<!--<div class="btn_delete">上传凭证</div>-->
						</div>
						<div class="item">
							<div class="row">
								<div class="key">交易类型：xxx</div>
								<div class="color_o">订单失败</div>
							</div>
							<div class="row3">
								<div class="key">会员账号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">订单金额：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">下单时间：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row4">
								<div class="key">支付凭证</div>
								<img src="../img/bg.png" />
							</div>
							<div class="btn_delete">上传凭证</div>
						</div>
					</div>
				</div>
				<div class="o_list order4">
					<div class="code">
						<div class="item">
							<div class="row">
								<div class="key">交易类型：xxx</div>
								<div class="color_o">订单失败</div>
							</div>
							<div class="row3">
								<div class="key">收款姓名：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">会员账号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">提现金额：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">收款卡号：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">收款银行：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">营业网点：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">提现时间：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">审核状态：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="row3">
								<div class="key">拒绝理由：</div>
								<div class="val">沃尔沃</div>
							</div>
							<div class="btn">
								<div class="left">审核拒绝</div>
								<div class="right">审核通过</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function btn(i) {
				$('.btn_left').css('backgroundImage', 'url(../img/btn_left.png)')
				$('.btn_right').css('backgroundImage', 'url(../img/btn_right2.png)')
				if(i == 1) {
					$('.btn_right').css('backgroundImage', 'url(../img/btn_right.png)')
				} else {
					$('.btn_left').css('backgroundImage', 'url(../img/btn_left2.png)')
				}
			}

			$(function() {
				hide_list()
				//默认按第一个
				btn_change('1')
			})

			function hide_list() {
				$('.order1').hide()
				$('.order2').hide()
				$('.order3').hide()
				$('.order4').hide()
			}

			function btn_change(e) {
				hide_list()
				hide_point(e)
				for(var i = 1; i < 5; i++) {
					$('.name' + i).css('color', '#7E7E7E')
					$('.line_' + i).hide()
				}
				$('.name' + e).css('color', '#FC660C')
				$('.line_' + e).show()
				if(e == 1) {
					$('.order1').show()
				} else if(e == 2) {
					$('.order2').show()
				} else if(e == 3) {
					$('.order3').show()
				} else if(e == 4) {
					$('.order4').show()
				}
			}

			//			function btn_status(e) {
			//				hide_list()
			//				hide_point(e)
			//				for(var i = 1; i < 3; i++) {
			//					$('.status' + i).css('color', '#7E7E7E')
			//					$('.status' + i).css('background-color', '#fff')
			//				}
			//				if(e == 2) {
			//					$('.change1').show()
			//					btn_change('1')
			//				} else {
			//					$('.change1').hide()
			//					$('.ordering').show()
			//				}
			//				$('.status' + e).css('color', '#fff')
			//				$('.status' + e).css('background-color', '#FC660C')
			//			}

			function hide_point(i) {
				$('.po' + i).hide()
			}
		</script>
	</body>

</html>