<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>转账</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/transfer.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />
	</head>

	<body>
		<div class="app">
			<div class="navigationBar">
				<img class="back" src="../img/left.png" />
				<div class="title left">转账</div>
			</div>
			<div class="content">
				<div class="user">
				<div class="avatar">
					<img class="ava" src="../img/bg.png" />
					<div class="money">
						<div class="title">变动金额</div>
						<div class="money1">
							<div></div>
							<div><span class="tomoney">345239847</span></div>
							<div></div>
						</div>
					</div>
					<img class="ava toava touser" src="../img/bg.png" />
				</div>
				<div class="msg">
					<div class="item">
						<div>
							<nobr>会员账号</nobr>
						</div>
						<div>
							<nobr>12345678900</nobr>
						</div>
					</div>
					<div class="item touser">
						<div>
							<nobr>会员账号</nobr>
						</div>
						<div>
							<nobr class="tophone">12345678900</nobr>
						</div>
					</div>
				</div>
				<div class="input">
					<nobr>会员账号</nobr><input oninput="change_phone()" type="" name="" id="phone" value="" placeholder="请输入对应会员账号" />
				</div>
			</div>
			<div class="to_money">
				<div class="title">转账金额</div>
				<div class="input">￥<input oninput="tomoney()" type="text" name="" id="tomoney" value="" maxlength="9" /></div>
				<div class="now_money">当前金额¥888888.00</div>
			</div>
			<div class="footer">
				<div class="name">操作类型</div>
				<div class="change select" onclick="change(this)">
					<div>由对应会员帐号划入钱包账户（加款）</div>
					<div class="img"></div>
				</div>
				<div class="change" data-id="1" onclick="change(this)">
					<div>由对应会员帐号划入钱包账户（扣款）</div>
					<div class="img"></div>
				</div>
				<!--<div class="hr"></div>-->
				<div class="addition">
					<textarea id="addition" placeholder="备注（选填）" maxlength="200"></textarea>
					<div class="addition-count">0/200</div>
				</div>
				<div class="btn">确认转账</div>
			</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('.select').trigger('click')
			$("#addition").on('input propertychange', function() {
				//获取输入内容
				var userDesc = $(this).val();
				//判断字数
				var len = userDesc.length
				//显示字数
				$(".addition-count").html(len + '/200');
			});

			function clearSelect() {
				var cardList = document.getElementsByClassName("change");
				for(let i = 0; i < cardList.length; i++) {
					if(cardList[i]) {
						cardList[i].classList.remove("select");
					}
				}
			}

			function change(cardElement) {
				console.log(cardElement.dataset.id)
				if(cardElement) {
					clearSelect();
					cardElement.classList.toggle("select");
					if(cardElement.dataset.id == 1) {
						$('.path').css('transform', "rotate(180deg)")
					} else {
						$('.path').css('transform', "rotate(0deg)")
					}
				}
			}

			function change_phone() {
				console.log(document.getElementById("phone").value)
				if(document.getElementById("phone").value.length == 3) {
					$(".toava").attr('src', '../img/bg.png');
					$(".tophone").html("333333333333333")
					$(".touser").css('opacity', '1');
				}
			}

			function tomoney() {
				var temp = NumberCheck(document.getElementById("tomoney").value)
				//				alert(temp)
				document.getElementById("tomoney").value = temp
				$(".tomoney").html(document.getElementById("tomoney").value)
			}

			function NumberCheck(num) {
				var str = num;
				var len1 = str.substr(0, 1);
				var len2 = str.substr(1, 1);
				//如果第一位是0，第二位不是点，就用数字把点替换掉
				if(str.length > 1 && len1 == 0 && len2 != ".") {
					str = str.substr(1, 1);
				}
				//第一位不能是.
				if(len1 == ".") {
					str = "";
				}
				//限制只能输入一个小数点
				if(str.indexOf(".") != -1) {
					var str_ = str.substr(str.indexOf(".") + 1);
					if(str_.indexOf(".") != -1) {
						str = str.substr(0, str.indexOf(".") + str_.indexOf(".") + 1);
					}
				}
				//正则替换，保留数字和小数点
				str = str.replace(/[^\d^\.]+/g, '')
				//如果需要保留小数点后两位，则用下面公式
				str = str.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');

				//				str = str.replace(/\.\d\d\d$/, '')
				return str;
			}
		</script>
	</body>

</html>