<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
    		<a lay-href="classify/classify">分类列表</a>
        <!--<a lay-href="">轮播图</a>-->
        <a>
            <cite>新增分类</cite>
        </a>
    </div>
</div>
<div class="shop-manage-content" style="padding: 10px;">

    <div class="content-body" style="padding: 10px;background: #fff">

        <form class="layui-form layui-form-pane1" action="">


            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>名称:</label>
                <div class="layui-input-inline">
                    <input id="name" type="text" name="name" lay-verify="required|name" required placeholder="输入分类标题" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>显示顺序:</label>
                <div class="layui-input-inline">
                    <input id="sort" type="text" name="sort" lay-verify="required|name" required placeholder="数字越大越靠前" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <!--上传图片-->
            <div class="form-input clearl">
                <label class="layui-form-label">
                    <span class="star">*</span>活动图片:</label>
                <div class="imgup">
                    <img height="70" src="" width="70" id="logo" />
                    <!-- <span class="tixi">(上传375*270px )</span> -->

                </div>
            </div>
            <!--<div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>链接地址:</label>
                <div class="layui-input-inline">
                    <input id="linkUrl" type="text" style="width: 450px;" name="linkUrl" lay-verify="required|name" required placeholder="输入http://"
                        autocomplete="off" class="layui-input jing">
                </div>
            </div>-->
        </form>

        <button class="layui-btn layui-btn-normal addshopSubmit" lay-submit lay-filter="*">立即提交</button>
    </div>

</div>
<script src="layui/plupload.full.min.js"></script>
<script src="layui/upload.js"></script>
<script type="text/javascript">
    upload('logo');
    layui.use(['form', 'laydate', 'layer'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var router = layui.router()
        form.render();


        var myid = router.search.id//location.search.split('=')[1];
        //console.log("myid:",myid)

        if (myid) {
            getinfo();
            function getinfo() {
                var parem = {
                    id: myid
                }
                $.ajax({
                    url: link + '/admin/merchantIndustry/get.do',
                    type: 'POST',
                    dataType: 'json',
                    data: parem,
                    success: function (res) {
                    		//console.log(res)
                        if (res.code == 0) {
                            $('#name').val(res.data.name);
                            $('#sort').val(res.data.sort);
//                          $('#linkUrl').val(res.data.linkUrl);
                            $("#logo").attr("src",imglink+res.data.logo);
                            form.render();
                        }
                    },
                    error: function () {
                        layer.msg('请求服务器失败！！')
                    }
                });
            }
        } else {
            $("#logo").attr("src", addlink);
        }


        $(document).off("click").on("click", ".addshopSubmit", function () {
            toSubmit();

        });

        function toSubmit() {
            var name = $('#name').val();
            var sort = $('#sort').val();
            var img = document.getElementById('logo').src.replace(imglink, '');

//          var linkUrl = $('#linkUrl').val();
            var dataObj = {
                id: myid || '',
                name: name,
                sort: sort,
                parentId: 0,
                logo: img,
//              linkUrl: linkUrl,
//              channelNo: my_c_channel_no
            }

            var mydata = JSON.stringify(dataObj)
            //console.log(mydata)
            
            var loadicon = layer.load(4); //加载动画

            $.ajax({
                url: link + '/admin/merchantIndustry/save.do',
                type: 'post',
                dataType: 'json',
                data: {
                    data: mydata,
                    ts: ts,
                    sign: sign,
                    token: mytoken
                },

                success: function (res) {
                		//console.log(res)
                    checkToken(res.code)
                    layer.close(loadicon)
                    if (!res.code) {
                        layer.msg('提交成功', {
                            icon: 1,
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        }, function () {

                            // 获得frame索引
                            // var index = parent.layer.getFrameIndex(window.name);
                            // //关闭当前frame
                            // parent.layer.close(index);
                            // window.parent.location.reload();

                            location.hash = '/classify/classify'
                        });

                    } else {
                        layer.msg(res.info, {
                            icon: 2,
                            time: 2000
                        });
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    /*错误信息处理*/
                    layer.close(loadicon);
                    layer.msg('请求失败，原因：' + errorThrown + ',状态码：' + jqXHR.status);


                }

            });


        }
    })
</script>