*{
	box-sizing: border-box;
}
body {
	background: #F3F6FC;
	margin: 0;
	padding: 0;
	color: #262B2F;
}

.app {
	max-width: 414px;
	margin: 0 auto;
	min-height: 100vh;
	background: #fff;
	width: 100%;
	font-size: 12px;
	line-height: 14px;
}

.content{
	background-color: #fff;
	padding: 10px 10px;
	/*padding-bottom: 20px;*/
}
