<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />
	</head>

	<body>
		<div class="app">
			<!--<div style="width:   0.02rem;height: 0.02rem;background-color: red;">s</div>-->
			<!--<img style="width: 100%;" id="avatar" src="" />-->
			<!--<div id="box" style="width: 300px;height: 600px;background: url(../img/bg1.png) no-repeat;background-size: 100% 100%;">
				<img id="ii" style="width: 200px;height: 200px;" src="http://qr.liantu.com/api.php?el=l&w=1500&m=100&text=kang" />
				<img src="../img/address.png" />
			</div>-->
			<div id="capture" style="padding: 10px; background: #f5da55">
				<img src="../img/address.png" />
				<img id="ii" style="width: 200px;height: 200px;" src="http://qr.liantu.com/api.php?el=l&w=1500&m=100&text=kang" />

				<h4 style="color: #000; ">Hello world!</h4>
			</div>
			<button onclick="downLoad()">撒地方</button>
		</div>
		<!--<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="https://cdn.bootcss.com/html2canvas/0.4.1/html2canvas.js"></script>-->
		<script src="can.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function DownLoadDomImg(el) {
				html2canvas(el, {
					// 页面高度 
					height: el.height,
					// 页面宽度
					width: el.width,
					allowTaint: true,
					useCORS: true,
					onrendered: function(canvas) {
						var mA = document.createElement("a");
						mA.href = canvas.toDataURL()
						mA.setAttribute('download', 'download.png');
						mA.click();
						console.log(mA);　　　　　　　　 // 如果是ie浏览器 则需要 使用ie浏览器的下载方法 进行下载 一会补充
					}
				});
			}

			function downLoad() {
				//				DownLoadDomImg(document.getElementById("box"))
				html2canvas(document.querySelector("#capture"), {
					allowTaint: true,
					useCORS: true,
				}).then(canvas => {
					var mA = document.createElement("a");
					mA.href = canvas.toDataURL()
					mA.setAttribute('download', 'download.png');
					mA.click();
					console.log(mA);
				});

			}
			// 使用
		</script>
	</body>

</html>