<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>我的邀请</title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<script src="../js/mask.js" type="text/javascript" charset="utf-8"></script>

		<title></title>
	</head>

	<body>
		<button onclick="type1()">弹窗1</button>
		<button onclick="type2()">弹窗2</button>
		<button onclick="type3()">弹窗3</button>
		<button onclick="type4()">弹窗4</button>
		<button onclick="type5()">弹窗5</button>
		<button onclick="type6()">弹窗6</button>
		<button onclick="type7()">弹窗7</button>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function type1() {
				mask.type1('../img/bg11.png', 'kang', '666', (e) => {
					console.log(e)
				})
			}
			function type2() {
				mask.type2((e) => {
					console.log(e)
				})
			}
			function type3() {
				mask.type3((e) => {
					console.log(e)
				})
			}
			function type4() {
				mask.type4((e) => {
					console.log(e)
				})
			}
			function type5() {
				mask.type5((e) => {
					console.log(e)
				})
			}
			function type6() {
				mask.type6((e) => {
					console.log(e)
				})
			}
			function type7() {
				mask.type7((e) => {
					console.log(e)
				})
			}
		</script>
	</body>

</html>