<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigationBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/tabBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/toast.css" />
	</head>

	<body>
		<div class="app">
			<div class="navigationBar">
				<img src="../img/left.png" />
				<div class="title left">title</div>
			</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/toast.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>