<style type="text/css">
    .sort-box {
        display: inline-block;
        padding: 5px;
        border: 1px solid #000;
    }

    .headimg {
        width: 50px;
        height: 50px;
    }

    .addBtn {
        background: #fff;
        padding: 10px;
        display: flex;
        height: 72px;
        box-sizing: border-box
    }

    .baritem {
        padding: 0 10px;
        cursor: pointer;
    }

    .countsBar {
        display: flex;
        padding-left: 10px;
    }

    .countNum {
        color: #1E99FF;
        text-align: center;
        padding-top: 10px;

    }

    .lastdayNum {
        color: #333;
        cursor: default;
    }



    .idTd {
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #1E99FF;

    }

    .blueTxt {
        color: #1E99FF;
        cursor: pointer;
    }

    .page {
        background: #fff;
    }
</style>
<div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;background: #fff">
    <a lay-href="/index">首页</a>
    <span lay-separator="">/</span>
    <a>
        <cite>公告列表</cite>
    </a>
</div>
<div class="x-body">
    <!--<div class="layui-row">
				<form class="layui-form layui-col-md12 x-so">
					<input class="layui-input" placeholder="开始日" name="searchstart" id="searchstart">
					<input class="layui-input" placeholder="截止日" name="searchend" id="searchend">
					
					<button class="layui-btn" lay-submit="" lay-filter="sreach" id="searchbtn"><i class="layui-icon">&#xe615;</i></button>
				</form>
			</div>-->
    <!-- <div class="addBtn">
		

		<div class="countsBar">
			<div class="baritem">
				<p class="countTitle">总销售</p>
				<p class="countNum todayNum">0</p>
			</div>
			<div class="baritem">
				<p class="countTitle">退款金额</p>
				<p class="countNum lastdayNum">0</p>
			</div>
			<div class="baritem">
				<p class="countTitle">待发货</p>
				<p class="countNum expressNum">0</p>
			</div>
			<div class="baritem">
				<p class="countTitle">退款申请</p>
				<p class="countNum refundNum">0</p>
			</div>
			<div class="baritem">
				<p class="countTitle">评价审核</p>
				<p class="countNum commentNum">0</p>
			</div>
		</div>
	</div> -->


    <!-- <div style="background: #fff;margin: 10px 0" class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">

        <div class="layui-form-item">


            <div class="layui-inline">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-block">
                    <input type="text" id="searchTxt" name="telphone" placeholder="输入用户昵称/用户ID/抽奖号/手机号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button id="searchBtn" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="LAY-user-back-search">
                    筛选
                </button>
            </div>
        </div>
    </div> -->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <!-- <ul class="layui-tab-title shoplist-tab">
			<li class="layui-this">全部订单</li>
			<li>未使用</li>
			<li>已使用</li>
			<li>退款</li>
		</ul> -->
        <div class="layui-tab-content">

            <div class="layui-tab-item layui-show">

                <table class="layui-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="tr-content" id="tab0-content">
                    </tbody>
                </table>
                <div class="page" id="page0">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['laydate', 'form', 'layer', 'laypage'], function () {
        var laydate = layui.laydate;
        var layer = layui.layer;
        var laypage = layui.laypage;
        var form = layui.form;
        var router = layui.router();
        form.render()

        var myid = router.search.id //  location.search.split('=')[1];
        //console.log(myid, 'myid')

        //var refundBtnRole = refundBtnRole;

        var pageSession = sessionStorage.getItem('noticeCurrPage')
        var listPage = pageSession ? pageSession : 1

        //console.log(refundBtnRole, '退款权限')

        var showstatus = '';

        // isLogin()
        doAjax(0, listPage)

        //搜索日期
        laydate.render({
            elem: '#searchstart',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        })
        laydate.render({
            elem: '#searchend',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        })


        $("#searchBtn").on("click", function () {

            var act = $(".shoplist-tab li.layui-this").index()
            doAjax(0, 1)
            // return false;
        })

        var myact = ''
        $('.shoplist-tab li').on('click', function () {

            myact = $(this).index();
            doAjax(myact)
        })

        function doAjax(act, mypage) {

            var act = act
            if (!act) {
                act = 0
            }

            var startText = $('#searchstart').val();
            var endText = $('#searchend').val();
            var keyword = $('#searchTxt').val();
            var dataobj1 = {
                channelNo: my_c_channel_no,
                page: mypage, //首次加载的页码
                length: 10, //当前页显示条数
                lotteryId: myid,
                search: keyword,

            }


            var mydata = JSON.stringify(dataobj1)

            $.ajax({
                url: link + '/admin/notice/list.do',
                type: 'post',
                dataType: 'json',
                data: {
                    page: mypage, //首次加载的页码
					length: 10, //当前页显示条数
                    token: mytoken

                },
                success: function (res) {
                    checkToken(res.code)
                    if (res.code == -1) {
                        layer.msg('加载失败：' + res.info);
                        return false;
                    }
                    var listdata = res.data.list;
                    var html = ''
                    var codeTime = ''
                    var checkStatus = ''
                    var showCheck = 'inline-block'
                    var showExp = 'inline-block'
                    var showExpInfo = 'none'

                    var openPartner = localStorage.getItem('openCopartner'); //1开启分销0关闭
                    var fxrateBtn = 'none'
                    var mName = ''
                    var courierFirm = '-'
                    var courierNum = '-'

                    if (listdata.length) {

                        for (var i = 0; i < listdata.length; i++) {
                            createtime = formatDate(new Date(parseInt(listdata[i].createtime)));
                            if (listdata[i].checkStatus == 0) {
                                //未核销

                                showCheck = 'inline-block'
                                if (listdata[i].type == 2) {
                                    //物流
                                    checkStatus = '-'
                                } else {
                                    checkStatus = '未核销'
                                }
                            } else {

                                showCheck = 'none'
                                if (listdata[i].type == 2) {
                                    //到店
                                    checkStatus = '-'
                                } else {
                                    checkStatus = '已核销'
                                }
                            }
                            if (listdata[i].type == 2) {
                                //物流

                                showCheck = 'none'
                                showExpInfo = 'inline-block'
                                if (listdata[i].logisticsStatus == 0) {
                                    showExp = 'inline-block'
                                } else {
                                    showExp = 'none'
                                }

                            } else {
                                //到店
                                showExp = 'none'
                                showExpInfo = 'none'

                                if (listdata[i].checkStatus == 0) {
                                    showCheck = 'inline-block'
                                } else {
                                    showCheck = 'none'
                                }
                            }

                            if (listdata[i].courierFirm) {
                                courierFirm = listdata[i].courierFirm
                            } else {
                                courierFirm = '-'
                            }
                            if (listdata[i].courierNum) {
                                courierNum = listdata[i].courierNum
                            } else {
                                courierNum = '-'
                            }

                            //starttime = formatDate(new Date(parseInt(listdata[i].startTime)));
                            codeTime = changeday(listdata[i].createTime);
                            //endtime = formatDate(new Date(parseInt(listdata[i].endTime)));
                            //closetime = formatDate(new Date(parseInt(listdata[i].close_time) * 1000));

                            html += '<tr>' +
                                '<td>' + listdata[i].title + '</td>' +
                                '<td>' + codeTime + '</td>' +
                                '<td>' +
                                '<a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-sm exp-btn" lay-href="/notice/noticedetails/id='+listdata[i].id+'"> 查看</a>' +
                                '</td>' +

                                '</tr>'
                        }

                    } else {
                        html = "暂无数据";
                    }

                    $("#tab0-content").html(html);
                    // copyId('.idTd')

                    laypage.render({
                        elem: "page0",
                        count: res.data.pageInfo.totalRecord, //totalNums
                        layout: ['count', 'prev', 'page', 'next','skip'],
                        limit: 10,
                        groups: 5, //连续显示分页数
                        curr: mypage,
                        jump: function (obj, first) {
                            sessionStorage.setItem('noticeCurrPage', obj.curr)
                            if (!first) {
                                var curr = obj.curr;

                                doAjax(0, curr)
                            }
                        }
                    })
                },
                error: function () {
                    layer.msg('请求服务器失败！！')
                }
            });
        }

    });
</script>