<style>
	.layui-main{
		padding: 10px;
	}
	.contdetails {
		padding: 10px;
		background: #fff;
		margin: 0 auto;
	}

	.contdetails h4 {
		text-align: center;
		font-size: 27px;
		padding: 12px;
	}

	.dconent,
	.dtime {
		display: block;
		width: 570px;
		max-width: 100%;
		margin: 0 auto;
	}

	.createtime,
	.showname {
		text-align: right;
	}
</style>




<!-- <div class="layui-layout layui-layout-admin">
	<div class="all">
		<div class="layui-body site-demo">
			<div class="layui-main">
				<div class="contdetails">
					<h4 class="dtitle"></h4>
					<div class="dconent">
					</div>
					<p class="showname">啪啪圈总部</p>
					<p class="createtime"></p>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;background: #fff">
	<a lay-href="/notice/list">公告列表</a>
	<span lay-separator="">/</span>
	<a>
		<cite>公告详情</cite>
	</a>
</div>
<div class="layui-main">
	<div class="contdetails">
		<h4 class="dtitle"></h4>
		<div class="dconent">
		</div>
		<!-- <p class="showname">啪啪圈总部</p>
		<p class="createtime"></p> -->
	</div>
</div>


<script>
	layui.use('layer', function () {
		var $ = layui.jquery;
		// var myid = location.search.split('=')[1];
		var router = layui.router();
		var myid = router.search.id;
		//console.log(myid)
		var mydata = JSON.stringify({
			id: myid
		})
		$.ajax({
			url: link + "/admin/notice/get.do",
			type: 'post',
			dataType: 'json',
			timeout: 5000,
			data: {
				noticeId: myid,
				token: mytoken
			},
			success: function (res) {
				//抢购退款
				// //console.log(res)
				if (res.code == 0) {
					//$("#num-qgRfNum").html(res.data)
					//console.log(res.data)

					$('.dtitle').html(res.data.title)
					$('.dconent').html(res.data.content)
					//console.log()
					$('.createtime').html(changeday(res.data.createTime))

				} else {
					layer.msg('加载公告列表失败：' + res.info)
				}
			},
			error: function () {
				layer.msg('请求服务器失败！！')
			}
		});
	});
</script>

</html>