body{
	background-color: yellow;
	/*overflow: hidden;*/
}
.content{
	/*position: relative;*/
	list-style: none;
	display: inline-flex;
	margin-left: -10px;
}
.content li{
	/*display: inline;*/
	/*float: left;*/
	/*position: absolute;*/
	/*display: block;*/
	/*float: left;*/
	/*transition: all 2s;*/
	/*margin-left: 0px;*/
}
.content li div:nth-of-type(1){
	/*margin-left: 100px;*/
	/*display: inline-block;*/
}
