<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="product/product">商品管理</a>
        <a>商品明细</a>
        <a>
            <cite>新增明细</cite>
        </a>
    </div>
</div>
<div class="shop-manage-content" style="padding: 10px;">

    <div class="content-body" style="padding: 10px;background: #fff">

        <form class="layui-form layui-form-pane1" action="">


            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>价格:</label>
                <div class="layui-input-inline">
                    <input id="name" type="number" name="name" lay-verify="required|name" required placeholder="输入显示价格" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>显示顺序:</label>
                <div class="layui-input-inline">
                    <input id="sort" type="text" name="sort" lay-verify="required|name" required placeholder="数字越小越靠前" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>颜色:</label>
                <div class="layui-input-inline">
                    <input id="color" type="text" name="color" lay-verify="required|name" required placeholder="输入颜色" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>尺码:</label>
                <div class="layui-input-inline">
                    <input id="size" type="number" name="size" lay-verify="required|name" required placeholder="输入尺码" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>库存:</label>
                <div class="layui-input-inline">
                    <input id="num" type="number" name="num" lay-verify="required|name" required placeholder="输入库存" autocomplete="off" class="layui-input jing">
                </div>
            </div>
            <!--上传图片-->
            <!--<div class="form-input clearl">
                <label class="layui-form-label">
                    <span class="star">*</span>活动图片:</label>
                <div class="fileView">

	              	<div class="btn_file">
				    		<img src="" id="add" width="200">
				    		<input name="imgSrc" id="imgSrc" class="filepath" accept="image/*" onchange="previewImg(this)" type="file"><br>
	              	</div>

	              </div>
            </div>-->
            <!--<div class="layui-form-item ">
                <label class="layui-form-label">
                    <span class="star">*</span>链接地址:</label>
                <div class="layui-input-inline">
                    <input id="linkUrl" type="text" style="width: 450px;" name="linkUrl" lay-verify="required|name" required placeholder="输入http://"
                        autocomplete="off" class="layui-input jing">
                </div>
            </div>-->
        </form>

        <button class="layui-btn layui-btn-normal addshopSubmit" lay-submit lay-filter="*">立即提交</button>
    </div>

</div>
<script type="text/javascript" src="crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="crypto1/sha1/sha1.js"></script>
<script src="layui/plupload.full.min.js"></script>
<script src="layui/base64.js"></script>
<script src="layui/upload.js"></script>
<script type="text/javascript">
//  upload('logo');
    layui.use(['form', 'laydate', 'layer'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var router = layui.router()
        form.render();


        var myid = router.search.id//location.search.split('=')[1];
//console.log(myid)
        $("#add").attr("src", addlink);

        $(document).off("click").on("click", ".addshopSubmit", function () {
            toSubmit();

        });

        function toSubmit() {
            var name = $('#name').val();
            var sort = $('#sort').val();
            var color = $('#color').val();
            var size = $('#size').val();
            var num = $('#num').val();
//          var img = document.getElementById('add').src;
            
//          if(img == addlink){
//          		alert('请添加图片')
//          		return;
//          }

            var dataObj = {
                product_id: myid || '',
                show_price: name,
                sort: sort,
                color: color,
                size: size,
                num: num,
//              url: img,
            }

            var mydata = JSON.stringify(dataObj)
            //console.log(mydata)
            
            var loadicon = layer.load(4); //加载动画

            $.ajax({
                url: link + '/product/tale/add',
                type: 'post',
                dataType: 'json',
                data: mydata,
                success: function (res) {
                		//console.log(res)
                		if(res.err_code == 0){
                			location.hash = '/product/detail/id='+myid
                		}

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    /*错误信息处理*/
                    layer.close(loadicon);
                    layer.msg('请求失败，原因：' + errorThrown + ',状态码：' + jqXHR.status);


                }

            });

        }
    })
</script>