<style>
	.addFile {
		opacity: 0;
		position: absolute;
		width: 120px;
		height: 100%;
		z-index: 100;
	}
	
	.addFile:hover {
		opacity: 0;
	}
</style>
<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="product/product">样照管理</a>
		<a>
			<cite>新增样照</cite>
		</a>
	</div>
</div>
<div class="shop-manage-content" style="padding: 10px;">

	<div class="content-body" style="padding: 10px;background: #fff">

		<form class="layui-form layui-form-pane1" action="">
			<!--<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>名称:</label>
				<div class="layui-input-inline">
					<input id="name" type="text" name="name" lay-verify="required|name" required placeholder="输入商品标题" autocomplete="off" class="layui-input jing">
				</div>
			</div>-->
			<!--<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>显示顺序:</label>
				<div class="layui-input-inline">
					<input id="sort" type="text" name="sort" lay-verify="required|name" required placeholder="数字越小越靠前" autocomplete="off" class="layui-input jing">
				</div>
			</div>-->
			<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>系列:</label>
				<div class="layui-input-inline">
					<!-- <input id="band" type="text" name="band" lay-verify="required|name" required placeholder="该商品所属品牌的ID"
                        autocomplete="off" class="layui-input jing"> -->
					<select id="brands">
						<!-- <option value ="volvo">Volvo</option>
                            <option value ="saab">Saab</option> -->
					</select>
				</div>
			</div>
			<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>样照名称:</label>
				<div class="layui-input-inline">
					<input id="yzname" type="text" name="" lay-verify="required|name" required placeholder="样照名称" autocomplete="off" class="layui-input">
				</div>
			</div>
			<!--<div class="layui-form-item ">
				<label class="layui-form-label">
                    <span class="star">*</span>展示价格:</label>
				<div class="layui-input-inline">
					<input id="price" type="text" name="price" lay-verify="required|name" required placeholder="商品列表中显示的价格" autocomplete="off" class="layui-input jing">
				</div>
			</div>-->
			<!--上传图片-->
			<!--<div class="form-input clearl">
				<label class="layui-form-label">
                    <span class="star">*</span>封面图片:</label>
				<div class="fileView">

					<div class="btn_file">
						<img src="" id="add" width="200">
						<input name="imgSrc" id="imgSrc" class="filepath" accept="image/*" onchange="previewImg(this)" type="file"><br>
					</div>
				</div>
			</div>-->
			<!--
			<div class="layui-form-item" id="add_attribute">
				<label class="layui-form-label">*商品轮播图:</label>
				<div id="forAttributeTable">
					<div class="attributeTable">
						<div class="layui-form-item">
							<div class="layui-input-block">
								<table class="layui-table">
									<thead>
										<tr>
											<th>图片</th>
											<th>排序</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="table_banner">
									</tbody>
								</table>
								<div style="position: relative;">
									<input id="imgSrc" class="addFile" accept="image/*" onchange="getChange(this)" type="file"><br>
									<button class="layui-btn layui-btn-info addBanner">添加轮播图</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->

			<!--<div>
				<label class="layui-form-label">*商品明细:</label>
				<div>
					<div class="attributeTable">
						<div>
							<div class="layui-input-block">
								<table class="layui-table">
									<thead>
										<tr>
											<th>ID</th>
											<th>颜色</th>
											<th>尺码</th>
											<th>价格</th>
											<th>数量</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="table_contain">
									</tbody>
								</table>
								<input class="layui-btn layui-btn-info addTest" type="button" value="添加明细"><br>
							</div>
						</div>
					</div>
				</div>
			</div>-->

			<div class="job-disc" style="margin:10px 0 20px ; padding-left: 40px;">
				*样照上传:
				<span style="color:#999;">(注意：第一张请用宽高比为‘330*500px’的样照作为封面,图片格式请选择*png或jpg)</span>
			</div>
			<div class="eidtor-wrap" style="padding-left: 42px;margin-bottom: 10px;">
				<div id="editor-trigger"></div>
			</div>

		</form>

		<button class="layui-btn layui-btn-normal addshopSubmit" lay-submit lay-filter="*">立即提交</button>
	</div>

</div>

<script type="text/javascript" src="crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="crypto1/sha1/sha1.js"></script>
<script src="layui/plupload.full.min.js"></script>
<script src="layui/base64.js"></script>
<script src="layui/upload.js"></script>
<script type="text/javascript">
	var num = 0
	var bannerNum = 0
	if(sessionStorage.getItem("brands")) {
		var brands = JSON.parse(sessionStorage.getItem("brands"))
		var seid = JSON.parse(sessionStorage.getItem("seid"))
		for(let item of brands) {
			if(item.Id ==seid){
				$("#brands").append('<option selected value ="' + item.Id + '">' + item.Name + '</option>')
			}else{
			$("#brands").append('<option value ="' + item.Id + '">' + item.Name + '</option>')
				
			}

		}
	} else {
		$.ajax({
			url: link + '/series',
			type: 'get',
			dataType: 'json',
			//			data: {
			//
			//			},
			success: function(res) {
				console.log(res)
				sessionStorage.setItem('brands', JSON.stringify(res.brands))
				for(let item of res.brands) {
					$("#brands").append('<option value ="' + item.Id + '">' + item.Name + '</option>')
				}
			},
			error: function() {
				layer.msg('请求服务器失败！！')
			}
		})
	}

	function getChange(input) {
		// //console.log(input)
		$("#table_banner").append('<tr id="banner' + bannerNum + '">' +
			'<td><div class="btn_file"><img src="" id="add' + bannerNum + '" width="200"></div></td>' +
			'<td><input style="width: 100%;height: 100%;border: 0px;background-color: transparent;" value=""/></td>' +
			'<td><button class="layui-btn layui-btn-danger deleteBanner" onclick="deleteBanner(' + bannerNum + ')">删除</button></td>' +
			'</tr>')
		addProductBanner(input, bannerNum)
		bannerNum += 1
	}

	function deleteBanner(id) {
		$("#banner" + id).remove();
	};

	//  upload('logo');
	layui.use(['form', 'laydate', 'layer'], function() {
		var form = layui.form;
		var laydate = layui.laydate;
		var layer = layui.layer;
		var router = layui.router()
		form.render();
		var seid = parseInt(router.search.seid);

		function doExchange(arr) {
			var len = arr.length;
			// 当数组大于等于2个的时候 
			if(len >= 2) {
				// 第一个数组的长度 
				var len1 = arr[0].length;
				// 第二个数组的长度 
				var len2 = arr[1].length;
				// 2个数组产生的组合数 
				var lenBoth = len1 * len2;
				//  申明一个新数组 
				var items = new Array(lenBoth);
				// 申明新数组的索引 
				var index = 0;
				for(var i = 0; i < len1; i++) {
					for(var j = 0; j < len2; j++) {
						if(arr[0][i] instanceof Array) {
							items[index] = arr[0][i].concat(arr[1][j]);
						} else {
							items[index] = [arr[0][i]].concat(arr[1][j]);
						}
						index++;
					}
				}
				var newArr = new Array(len - 1);
				for(var i = 2; i < arr.length; i++) {
					newArr[i - 1] = arr[i];
				}
				newArr[0] = items;
				return doExchange(newArr);
			} else {
				return arr[0];
			}
		}

		var myid = parseInt(router.search.id); //location.search.split('=')[1];

		var colorArr = ['红色', '橙色', '黄色', '绿色', '青色', '蓝色', '紫色', '灰色', '粉色', '黑色', '白色', '棕色']
		var sizeArr = ['33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47']

		if(myid) {
			var dataObj = {
				id: myid,
			}

			var mydata = JSON.stringify(dataObj)
			var account = sessionStorage.getItem("account");
			var token = sessionStorage.getItem("token");
			$.ajax({
				url: link + '/example/search?id=' + myid,
				type: 'get',
				dataType: 'json',
				headers: {
					"account": account,
					"token": token
				},
				//				data: mydata,
				success: function(res) {
					console.log('search:', res)
					if(res.err_code == 0) {
						$('#yzname').val(res.data.Product.Name);
						//						$("#brands").find("option:contains(4)").attr("selected",true);
//						$("#brands option[text='4']").attr("selected", true);
						//						$("#brands option[text='jQuery']").attr("selected", true);
						//						$("#brands").attr("value",'4');
						//						$('#sort').val(res.product.Sort);
						// $('#band').val(res.product.BrandId);
						//						$('#price').val(res.product.ShowPrice);
						//						$("#add").attr("src", res.product.CoverUrl);
						//						$("#brands").val(res.product.BrandId);
						// //console.log($("#brands").text())
						//						for(let item of res.data.Product.Images) {
						//							$("#table_banner").append('<tr id="banner' + bannerNum + '">' +
						//								'<td><div class="btn_file"><img src="' + item.URL + '" id="add' + bannerNum + '" width="200"></div></td>' +
						//								'<td><input style="width: 100%;height: 100%;border: 0px;background-color: transparent;" value="' + item.Sort + '"/></td>' +
						//								'<td><button class="layui-btn layui-btn-danger deleteBanner" onclick="deleteBanner(' + bannerNum + ')">删除</button></td>' +
						//								'</tr>')
						//							bannerNum += 1
						//						}
						//						for(let item of res.tales) {
						//							$("#table_contain").append('<tr id="detail' + num + '">' +
						//								'<td>' + item.TaleId + '</td>' +
						//								'<td><select id="select_color' + num + '" name="color">' +
						//								'<option value="">请选择</option>' +
						//								'</select></td>' +
						//								'<td><select id="select_size' + num + '" name="size">' +
						//								'<option value="">请选择</option>' +
						//								'</select></td>' +
						//								'<td><input style="width: 100%;height: 100%;border: 0px;background-color: transparent;" value="' + item.ShowPrice + '"/></td>' +
						//								'<td><input style="width: 100%;height: 100%;border: 0px;background-color: transparent;" value="' + item.InventoryNum + '"/></td>' +
						//								'<td><button class="layui-btn layui-btn-danger deleteDetail" data-id="' + num + '">删除</button></td>' +
						//								'</tr>')
						//							for(let color of colorArr) {
						//								if(item.Color == color) {
						//									$("#detail" + num + " #select_color" + num).append('<option value ="' + color + '" selected>' + color + '</option>')
						//								} else {
						//									$("#detail" + num + " #select_color" + num).append('<option value ="' + color + '">' + color + '</option>')
						//								}
						//							}
						//							$("#detail" + num + " #select_color" + num).append('<option value ="自定义">自定义</option>')
						//							for(let color of sizeArr) {
						//								if(item.Size == color) {
						//									$("#detail" + num + " #select_size" + num).append('<option value ="' + color + '" selected>' + color + '</option>')
						//								} else {
						//									$("#detail" + num + " #select_size" + num).append('<option value ="' + color + '">' + color + '</option>')
						//								}
						//							}
						//							$("#detail" + num + " #select_size" + num).append('<option value ="自定义">自定义</option>')
						//							num += 1
						//							form.render('select');
						//						}
						// select自定义
						form.on('select', function(data) {
							// console.log(data)
							if(data.value == '自定义') {
								//退回a标签
								layer.prompt({
									title: data.elem.name == 'color' ? '请输入自定义颜色' : '请输入自定义尺码'
								}, function(val, index) {
									// console.log(val, index)
									$("#" + data.elem.id).prepend('<option value ="' + val + '" selected>' + val + '</option>')
									if(data.elem.name == 'color') {
										colorArr.push(val)
									} else {
										sizeArr.push(val)
									}
									layer.close(index);
									form.render('select');
								});

							}
						})
						var msgk = '';
						for(var k = 0; k < res.data.Product.Images.length; k++) {
							msgk += '<p><img src="' + res.data.Product.Images[k] + '" style="max-width:100%;"><br></p>';
						}
						editor.$txt.html(msgk);
					}
				},
				error: function(jqXHR, textStatus, errorThrown) {
					/*错误信息处理*/
					layer.close(loadicon);
					layer.msg('请求失败色', '原因：' + errorThrown + ',状态码：' + jqXHR.status);
				}

			});
		} else {
			$("#add").attr("src", addlink);
		}

		//富文本
		// 阻止输出log
		// wangEditor.config.printLog = false;
		var editor = new wangEditor('editor-trigger');
		// 上传图片
		editor.config.customUpload = true;
		editor.config.customUploadInit = uploadInit;

		editor.config.menus = $.map(wangEditor.config.menus, function(item, key) {
			if(item === 'insertcode') {
				return null;
			}
			if(item === 'fullscreen') {
				return null;
			}
			if(item === 'video') {
				return null;
			}
			if(item === 'link') {
				return null;
			}
			if(item === 'unlink') {
				return null;
			}
			return item;
		});

		editor.create();
		// 封装//console.log
		function printLog(title, info) {
			window.console && console.log(title, info);
		}
		// ------- 配置上传的初始化事件 -------

		function uploadInit() {

			var uploader = new plupload.Uploader({
				browse_button: this.customUploadBtnId,
				url: 'http://oss.aliyuncs.com',
				filters: {
					mime_types: [ //只允许上传图片和zip文件
						{
							title: "Image files",
							extensions: "jpg,gif,png,jpeg"
						}

					],
					max_file_size: '2000kb', //最大只能上传400kb的文件
					prevent_duplicates: false //不允许选取重复文件
				},
			});
			uploader.init();
			//绑定各种事件色','并在事件监听函数中做你想做的事
			uploader.bind('FilesAdded', function(up, files) {
				//		    	 $('.progress-bar').show();
				//				 $('.sub').attr({"disabled":"disabled"});
				//				  $('.sub').css("background-color","#ccc");
				plupload.each(files, function(file) {
					set_upload_param(uploader, '', false);
					return false;
				});
			});
			uploader.bind('BeforeUpload', function(up, file) {
				set_upload_param(up, file.name, true);
			});

			uploader.bind('FileUploaded', function(up, file, info) {
				// //console.log("file", file)
				if(info.status == 200) {
					editor.command(null, 'insertHtml', '<img src="' + imglink +
						get_uploaded_object_name() + '" style="max-width:100%;"/>');
				} else {

				}
			});
			uploader.bind('Error', function(up, err) {
				// //console.log(err)
				if(err.code == -600) {
					alert('图片不能大于2M');
				} else {
					alert(err.message);
				}
			});
		}

		$(".addshopSubmit").click(function() {
			toSubmit();
		});

		$(".addTest").click(function() {
			$("#table_contain").append('<tr id="detail' + num + '">' +
				'<td><span style="color: red;">New</span><span style="color: grey;font-size: 12px">不用填写</span></td>' +
				'<td><select id="select_color' + num + '" name="color">' +
				'<option value="">请选择</option>' +
				'</select></td>' +
				'<td><select id="select_size' + num + '" name="size">' +
				'<option value="">请选择</option>' +
				'</select></td>' +
				'<td><input style="width: 100%;height: 100%;border: 0px;background-color: transparent;" value=""/></td>' +
				'<td><input style="width: 100%;height: 100%;border: 0px;background-color: transparent;" value=""/></td>' +
				'<td><button class="layui-btn layui-btn-danger deleteDetail" data-id="' + num + '">删除</button></td>' +
				'</tr>')
			for(let color of colorArr) {
				$("#detail" + num + " #select_color" + num).append('<option value ="' + color + '">' + color + '</option>')
			}
			$("#detail" + num + " #select_color" + num).append('<option value ="自定义">自定义</option>')
			for(let color of sizeArr) {
				$("#detail" + num + " #select_size" + num).append('<option value ="' + color + '">' + color + '</option>')
			}
			$("#detail" + num + " #select_size" + num).append('<option value ="自定义">自定义</option>')
			num += 1
			form.render('select');
		});

		$(document).off("click").on("click", ".deleteDetail", function() {
			var _id = $(this).attr('data-id');
			$("#detail" + _id).remove();
		});

		// $(document).off("click").on("click", ".deleteBanner", function () {
		//     var _id = $(this).attr('data-id');
		//     $("#banner" + _id).remove();
		// });

		function toSubmit() {
			//			var name = $('#name').val();
			//			var sort = $('#sort').val();
			var band = parseInt($('#brands').val());
			var yzname = $('#yzname').val();
			console.log(band, yzname)
			//			var price = $('#price').val();
			//			var img = document.getElementById('add').src;
			var details = editor.$txt.html(); //商品详细
			//           var text = '亲爱的#customer#，您已成功购买了#brand#的商品，订单编号为#order#，请凭订单编号或⼿机号⾄商家处消费！#url# 请保留此短信，及时查看消费情况哦！'
			var regex = /\"(.+?)\"/g;
			var result;
			var imgs = [];
			var index = 0;
			while((result = regex.exec(details)) != null) {
				if(index % 2 == 0) {
					imgs.push(result[1])
					console.log(result[1]);
				}
				index++;
			}

			var tales = []

			$('#table_contain tr').each(function(i) {
				var tale = {}
				$(this).children('td').each(function(j) { // 遍历 tr 的各个 td
					if(j == 0 && !parseInt($(this).text())) {
						tale.tale_id = 0
					} else if(j == 0 && parseInt($(this).text())) {
						tale.tale_id = parseInt($(this).text())
					} else if(j == 1) {
						tale.color = $(this).find('select').val()
					} else if(j == 2) {
						tale.size = $(this).find('select').val()
					} else if(j == 3) {
						tale.show_price = parseInt($(this).find('input').val())
					} else if(j == 4) {
						tale.inventory_num = parseInt($(this).find('input').val())
					}
				});
				tales.push(tale)
			});
			var banners = []
			$('#table_banner tr').each(function(i) {
				var banner = {}
				$(this).children('td').each(function(j) { // 遍历 tr 的各个 td
					if(j == 0) {
						banner.URL = $(this).find('img')[0].src
					} else if(j == 1) {
						banner.Sort = parseInt($(this).find('input').val())
					}
				});
				banners.push(banner)
			});
			//			for(let item of banners) {
			//				if(!item.Sort) {
			//					alert("请输入轮播图的排序")
			//					return
			//				}
			//			}

			//			for(let item of tales) {
			//				if(!item.color || item.color == "自定义") {
			//					alert("请输入颜色")
			//					return
			//				}
			//				if(!item.size || item.size == "自定义") {
			//					alert("请输入尺码")
			//					return
			//				}
			//				if(!item.show_price) {
			//					alert("请输入价格")
			//					return
			//				}
			//				if(!item.inventory_num) {
			//					alert("请输入数量")
			//					return
			//				}
			//			}

			//			if(img == addlink) {
			//				alert('请添加图片')
			//				return;
			//			}

			var dataObj = {
				Id: myid || 0,
				SeriesId: band,
				Name: yzname,
				Images: imgs
			}

			var mydata = JSON.stringify(dataObj)
			// //console.log(mydata)

			var loadicon = layer.load(4); //加载动画
			var account = sessionStorage.getItem("account");
			var token = sessionStorage.getItem("token");
			$.ajax({
				url: link + '/example/update',
				type: 'post',
				dataType: 'json',
				headers: {
					"account": account,
					"token": token
				},
				data: mydata,
				success: function(res) {
					console.log(res)
					if(res.err_code == 0) {
						location.hash = '/product/product'
					} else {
						location.hash = '/user/login';
					}

				},
				error: function(jqXHR, textStatus, errorThrown) {
					/*错误信息处理*/
					layer.close(loadicon);
					layer.msg('请求失败色', '原因：' + errorThrown + ',状态码：' + jqXHR.status);

				}

			});

		}
	})
</script>