<style>
	.addBtn {
		background: #fff;
		padding: 10px;
		display: flex;
		height: 72px;
		box-sizing: border-box
	}
	
	.imgitem img {
		width: 50px;
		height: 50px;
	}
	
	.x-body {
		margin-top: 10px;
	}
</style>
<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a>样照管理</a>
		<!--<a><cite>轮播图</cite></a>-->
	</div>
</div>
<div class="x-body">
	<div class="layui-row">
	</div>
	<div class="addBtn">
		<button class="layui-btn layui-btn-normal addShopAdmin" lay-href="/product/addproduct" style="margin-top: 6px;">新增样照</button>
	</div>
	<table class="layui-table indrstry-table" lay-skin='line'>
		<thead>
			<tr>
				<th>样照ID</th>
				<th>系列ID</th>
				<th>系列名称</th>
				<th>样照名称</th>
				<th>封面</th>
				<th>状态</th>
				<!--<th>链接地址</th>-->
				<!-- <th>管理</th> -->
				<th>操作</th>
			</tr>
		</thead>
		<tbody class="tr-content">

		</tbody>
	</table>
</div>
<script>
	layui.use(['laydate', 'layer', 'laypage'], function() {

		var laydate = layui.laydate;
		var layer = layui.layer;
		var laypage = layui.laypage;
		var router = layui.router();

		var myid = router.search.id /// location.search.split('=')[1];

		// $('.addShopAdmin').on('click', function () {
		// 	// x_admin_show('新增商户管理员', './addshopadmin.html?myid=' + myid, 600, 400)
		// 	location.hash = '/banner/addbanner/id=' + myid
		// })

		doAjax()

		function doAjax() {
			//渲染列表
			var mydata = JSON.stringify({
				"channelNo": my_c_channel_no,
				merchantId: myid

			})
			var loading = layer.load(4)
			var account = sessionStorage.getItem("account");
			var token = sessionStorage.getItem("token");
			$.ajax({
				url: link + '/example',
				type: 'get',
				dataType: 'json',
				headers: {
					"account": account,
					"token": token
				},

				//				data: {
				//					sign: sign,
				//					ts: ts,
				//					data: mydata,
				//					token: mytoken
				//				},
				success: function(res) {
					console.log(res)

					sessionStorage.setItem('product', JSON.stringify(res.products))

					layer.close(loading)

					var dataarr = res.data.Products;

					var html = '';

					var roleCode = ''
					if(dataarr.length == 0) {
						//	$('.indrstry-table').hide();
						html = '<p>暂无数据</p>'
						$('.tr-content').html(html).find("p").css({
							"text-align": "center",
							"padding": "20px"
						});

					} else {

						if(sessionStorage.getItem("brands")) {
							var brands = JSON.parse(sessionStorage.getItem("brands"))

							for(var i = 0; i < dataarr.length; i++) {
								if(dataarr[i].IsEnable) {
									var ouhtml = '<a class="layui-btn layui-btn-danger layui-btn-sm onoff-btn" data-id="' + dataarr[i].Id +
										'" data-bool="true">下架</a>'
									var status = '使用中'
								} else {
									var ouhtml = '<a class="layui-btn layui-btn-normal layui-btn-sm onoff-btn" data-id="' + dataarr[i].Id +
										'" data-bool="false">上架</a>'
									var status = '未使用'
								}
								// for (let item of brands) {
								// 	if (dataarr[i].BrandId == item.Id) {
								html += '<tr>' +
									'<td>' + dataarr[i].Id + '</td>' +
									'<td>' + dataarr[i].SeriesId + '</td>' +
									'<td>' + dataarr[i].SeriesName + '</td>' +
									'<td>' + dataarr[i].Name + '</td>' +
									'<td class="imgitem">' +
									'<img src="' + dataarr[i].Images[0] + '">' +
									'</td>' +
									// '<td>' + item.Name + '</td>' +
									'<td>' + status + '</td>' +
									// '<td>' + '<a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-sm" lay-href="/product/banner/id=' +
									// dataarr[i].ProductId + '" > 轮播图</a>' + '<a href="javascript:;" class="layui-btn layui-btn-warning layui-btn-sm" lay-href="/product/detail/id=' +
									// dataarr[i].ProductId + '" > 明细 </a>' + '</td>' +
									'<td>' + ouhtml +
									'<a href="javascript:;" data-seid="'+dataarr[i].SeriesId+'" class="layui-btn kzx layui-btn-normal layui-btn-sm" lay-href="/product/addproduct/id=' +
									dataarr[i].Id + '" > 编辑</a>' +
									'<a class="layui-btn layui-btn-danger layui-btn-sm delshopadmin-btn" data-id="' + dataarr[i].Id +
									'" lay-event="del">删除</a>' +
									'</td>' +

									'</tr>'
								// 	}
								// }

							}

							$('.tr-content').html(html);

						} else {
							var account = sessionStorage.getItem("account");
							var token = sessionStorage.getItem("token");
							$.ajax({
								url: link + '/series',
								type: 'get',
								headers: {
									"account": account,
									"token": token
								},
								dataType: 'json',
								//								data: {
								//
								//								},
								async: false,
								success: function(res) {
									console.log(res)
									sessionStorage.setItem('brands', res.data.brands)
									var brands = res.data.brands

									for(var i = 0; i < dataarr.length; i++) {
										if(dataarr[i].IsEnable) {
											var ouhtml = '<a class="layui-btn layui-btn-danger layui-btn-sm onoff-btn" data-id="' + dataarr[i].ProductId +
												'" data-bool="true">下架</a>'
											var status = '使用中'
										} else {
											var ouhtml = '<a class="layui-btn layui-btn-normal layui-btn-sm onoff-btn" data-id="' + dataarr[i].ProductId +
												'" data-bool="false">上架</a>'
											var status = '未使用'
										}
										for(let item of brands) {
											if(dataarr[i].BrandId == item.Id) {
												html += '<tr>' +
													'<td>' + dataarr[i].ProductId + '</td>' +
													'<td>' + dataarr[i].Name + '</td>' +
													'<td>' + dataarr[i].Sort + '</td>' +
													'<td class="imgitem">' +
													'<img src="' + dataarr[i].CoverUrl + '">' +
													'</td>' +
													'<td>' + dataarr[i].ShowPrice + '</td>' +
													'<td>' + item.Name + '</td>' +
													'<td>' + status + '</td>' +
													// '<td>' + '<a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-sm" lay-href="/product/banner/id=' +
													// dataarr[i].ProductId + '" > 轮播图</a>' + '<a href="javascript:;" class="layui-btn layui-btn-warning layui-btn-sm" lay-href="/product/detail/id=' +
													// dataarr[i].ProductId + '" > 明细 </a>' + '</td>' +
													'<td>' + ouhtml +
													'<a href="javascript:;" data-seid="'+dataarr[i].SeriesId+'" class="layui-btn kzx layui-btn-normal layui-btn-sm" lay-href="/product/addproduct/id=' +
													dataarr[i].ProductId + '" > 编辑</a>' +
													'<a class="layui-btn layui-btn-danger layui-btn-sm delshopadmin-btn" data-id="' + dataarr[i].ProductId +
													'" lay-event="del">删除</a>' +
													'</td>' +

													'</tr>'
											}
										}

									}

									$('.tr-content').html(html);

								},
								error: function() {
									layer.msg('请求服务器失败！！')
								}
							})
						}

						// //编辑
						// $('.industryedit').on('click', function () {
						// 	var _this = $(this);
						// 	var _id = _this.attr('data-id');

						// 	x_admin_show('编辑分类', 'addshopindustry.html?pid=' + _id, 400, 400)

						// })
						$('.kzx').off('click').on('click', function() {
//							alert($(this).data("seid"))
							sessionStorage.setItem('seid', $(this).data("seid"))
							
						})
						//上下架
						$('.onoff-btn').off('click').on('click', function() {

							var _id = $(this).attr('data-id');
							var bool = $(this).attr('data-bool');

							if(bool == 'true') {
								var txt1 = '是否要下架?'
								var txt2 = '下架成功'
								var txt3 = '下架失败:'
								var change = false
							} else {
								var txt1 = '是否要上架?'
								var txt2 = '上架成功'
								var txt3 = '上架失败:'
								var change = true
							}

							var delconfirm = layer.confirm(txt1, {
								icon: 3,
								title: '提示'
							}, function(index) {
								//do something
								var mydata = JSON.stringify({
									Id: parseInt(_id),
									IsEnable: change
								})

								var loading = layer.load(4);
								var account = sessionStorage.getItem("account");
								var token = sessionStorage.getItem("token");
								$.ajax({
									url: link + '/example/update',
									type: 'post',
									dataType: 'json',
									headers: {
										"account": account,
										"token": token
									},
									data: mydata,
									success: function(res) {
										console.log(res);

										layer.close(loading)
										//										checkToken(res.code)

										if(res.err_code == 0) {
											layer.close(delconfirm);
											layer.msg(txt2, {
												icon: 1,
												time: 1000 //1秒关闭（如果不配置，默认是3秒）
											}, function() {
												//window.location.href = location.href;
												doAjax()
											});

										} else {
											location.hash = '/user/login';
											layer.closeAll();
										}
									},
									error: function() {
										layer.msg('请求服务器失败！！')
									}
								})

							});

						})

						//删除
						$('.delshopadmin-btn').off('click').on('click', function() {

							var _id = $(this).attr('data-id');

							var delconfirm = layer.confirm('是否要删除?', {
								icon: 3,
								title: '提示'
							}, function(index) {
								//do something
								var mydata = JSON.stringify({
									id: parseInt(_id) ,
								})
								var loading = layer.load(4);
								var account = sessionStorage.getItem("account");
var token = sessionStorage.getItem("token");
								$.ajax({
									url: link + '/example/delete',
									type: 'post',
									dataType: 'json',
									headers:{"account":account,"token":token},
									data: mydata,
									success: function(res) {
										layer.close(loading)
										//										checkToken(res.code)
										//console.log(res);
										if(res.err_code == 0) {
											layer.close(delconfirm);
											layer.msg('删除成功', {
												icon: 1,
												time: 1000 //1秒关闭（如果不配置，默认是3秒）
											}, function() {
												//window.location.href = location.href;
												doAjax()
											});

										} else {
											//console.log("删除失败：" + res.info)
											layer.closeAll();
										}
									},
									error: function() {
										layer.msg('请求服务器失败！！')
									}
								})

							});

						})

					}
				},
				error: function() {
					layer.msg('请求服务器失败！！')
				}
			})
		}

	});
</script>